.investigator-card
  background-color: #FFF
  width: 100%
  padding: 10px
  margin-top: 10px
  .name
    font-weight: bold
    color: #333
  .description
    color: #AAA
  .analysis
    font-weight: bold
    color: #333
