#logo
  position: absolute
  top: 15%
  left: 45%
  width: 100%

  &.top-left
    top: 0
    left: 0

  .box
    width: 20%
    font-size: 20px
    background: #000
    font-weight: bold
    color: white
    padding: 10px
