#logo
  position: absolute
  padding: 36px 20px
  color: $logo-text-color
  background-color: $logo-background
  height: 340px
  &.top-left
    opacity: 0
  .cpdb-logo
    font-size: 30px
    font-weight: bold
    margin-bottom: 9px
  .cpdb-description
    font-size: 15px
    line-height: 20px
    opacity: 0.5
