.searchable-page
  .search-bar, .result-content
    z-index: 100
  .child-content
    .content
      top: 60px
      z-index: -1
    &.invisible
      .content
        animation: slide-up 0.3s forwards
