.shared-search-bar
  background-color: $search-bar-background-color
  color: $search-bar-color
  width: 100%
  border: none
  font-size: 15px
  .input-text
    background-color: $search-bar-background-color
    color: $search-bar-color
    width: calc(100% - 60px)
    border: 0
    height: 100%
    padding: 15px
  .input-text:focus
    outline: 0
  .icon
    padding: 15px
    float: right
    font-weight: 900
