.tab-content
  display: none
  -webkit-animation: scale 0.7s ease-in-out
  -moz-animation: scale 0.7s ease-in-out
  animation: scale 0.7s ease-in-out

.tab-content
  &.active
    display: block

@keyframes scale
  0%
    transform: scale(0.9)
    opacity: 0

  50%
    transform: scale(1.01)
    opacity: 0.5

  100%
    transform: scale(1)
    opacity: 1

.tab-navigations
  margin-top: 10px