@import variables.sass

.left-menu
  min-height: 100%
  @media(max-width: 767px)
    min-height: initial

.margin-top
  margin-top: 1em

.no-padding
  padding: 0

body
  font-family: 'Source Sans Pro', sans-serif
  font-size: 14px
  color: black
  .left-column
    background-color: $blue
    color: $white
  .title
    @media(max-width: 767px)
      background-color: $blue
      color: $white
  header
    border-bottom: 1px solid $grey
    img
      @media(max-width: 767px)
        height: 71px
        margin-bottom: 1px
    .welcome
      margin-top: 1.2em

    h1
      margin: 0
      line-height: 72px
      text-align: right
      padding-right: 25px

    ul
      li
        display: inline-block
        list-style: none

@import navigation.sass
@import overview_section.sass
