@import variables.sass

.left-menu
  min-height: 100%

.margin-top
  margin-top: 1em

.no-padding
  padding: 0

body
  font-family: 'Source Sans Pro', sans-serif
  font-size: 14px
  .left-column
    background-color: $blue
    color: $white
  header
    border-bottom: 1px solid $grey
    .welcome
      margin-top: 1.2em
    h1
      margin: 0
    ul
      li
        display: inline-block
        list-style: none

@import navigation.sass
@import overview_section.sass



