.animation
  -moz-transition: all 300ms ease-out
  -o-transition: all 300ms ease-out
  -webkit-transition: all 300ms ease-out
  -ms-transition: all 300ms ease-out
  transition: all 300ms ease-out

.content
  animation: slide-down 0.3s ease-in-out

@keyframes slide-in
  0%
    transform: translateX(100%)
  100%
    transform: translateX(0%)

@keyframes slide-out
  0%
    transform: translateX(0%)
  100%
    transform: translateX(100%)

@keyframes slide-down
  0%
    transform: translateY(-100%)
  100%
    transform: translateY(0%)

@keyframes slide-up
  0%
    opacity: 1
    transform: translateY(0%)
  100%
    opacity: 0
    transform: translateY(-100%)
