.animation
  -moz-transition: all 300ms ease-out
  -o-transition: all 300ms ease-out
  -webkit-transition: all 300ms ease-out
  -ms-transition: all 300ms ease-out
  transition: all 300ms ease-out


.animation-long
  -webkit-transition: all 1000ms cubic-bezier(1.000, 0.005, 0.005, 1.000)
  -moz-transition: all 1000ms cubic-bezier(1.000, 0.005, 0.005, 1.000)
  -o-transition: all 1000ms cubic-bezier(1.000, 0.005, 0.005, 1.000)
  transition: all 1000ms cubic-bezier(1.000, 0.005, 0.005, 1.000)

.slide-in
  transition: 1s
  left: 0
