.animation
  -moz-transition: all 300ms ease-out
  -o-transition: all 300ms ease-out
  -webkit-transition: all 300ms ease-out
  -ms-transition: all 300ms ease-out
  transition: all 300ms ease-out

.content
  animation: slide-down 0.7s ease-in-out
  -webkit-animation: slide-down 0.7s forwards
  -moz-animation: slide-down 0.7s forwards
  -o-animation: slide-down 0.7s forwards

.animate
  animation: slide-up 0.7s ease-in-out
  -webkit-animation: slide-up 0.7s forwards
  -moz-animation: slide-up 0.7s forwards
  -o-animation: slide-up 0.7s forwards

@keyframes slide-in
  0%
    transform: translateX(100%)
  100%
    transform: translateX(0%)

@keyframes slide-out
  0%
    transform: translateX(-100%)
  100%
    transform: translateX(0%)

@keyframes slide-down
  0%
    transform: translateY(-100%)
  100%
    transform: translateY(0%)

@keyframes slide-up
  0%
    opacity: 1
    transform: translateY(0%)
  100%
    opacity: 0
    transform: translateY(-100%)

@keyframes swipe
  from
    max-width: 0px
  to
    max-width: 500px

