.circle
  width: 10px
  height: 10px
  background: $circle-color
  border-radius: 50%
  display: inline-block

.small-circle
  width: 6px
  height: 6px

.circle-0
  background-color: $circle-0-color

.circle-1
  background-color: $circle-1-color

.circle-2
  background-color: $circle-2-color

.circle-3
  background-color: $circle-3-color

.circle-4
  background-color: $circle-4-color
