body {
    background-color: white;
    font-family: 'Source Sans Pro', serif;
}

#content {
}

a:hover {
    opacity: 0.3;
}

.navbar {
    min-height: 72px;
    margin-bottom: 0;
    border-bottom: 1px solid #989898;
}

h1, h2, h3, .h1, .h2, .h3 {
    font-family: 'Vollkorn', serif;
}

.page-header {
    margin-top: 20px;
}

button a:hover {
    text-decoration: none
}

.form-group ul.errorlist {
    margin: 0;
    padding: 0;
    list-style: none;
}

.form-group .alert {
    margin-bottom: 0;
}

.margin-top-0 {
    margin-top: 0;
}

footer .row {
    background-color: #172b3a;
    padding: 20px 0;
}

#map {
    width: 100%;
    height: 500px;
}

#officer-complaint-map {
    width: 100%;
    height: 200px;
}

.navbar.navbar, .navbar-default.navbar {
    background: #ffffff;
    color: #000000;
}

.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    color: #ffffff;
    font-family: Helvetica Neue, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: condensed;
    padding: 0;
}

.site-title {
    font-style: italic;
    font-size: 30px;
    font-family: 'Vollkorn', serif;
    margin: 10px 0 0 10px;
    width: 100%;
}

.site-title input {
    border: none;
    width: 100%;
}

ul.nav.navbar-nav {
    width: 45%;
}
.navbar .navbar-nav > li.site-title > a {
    color: #333333;
}

.map-row {
    background-color: #f6f6ec;
}

.map-row .map-column {
    padding: 0;
}

#map-arrow-down {
    position: absolute;
    bottom: 20px;
    right: 3%;
    z-index: 1000;
    color: #fff;
    width: 32px;
    height: 32px;
}

#summary-container {
    overflow: hidden;
    margin-left: 30px;
    padding-left: 0;
    margin-top: 44px;
}

.fa-28px {
    font-size: 28px;
}
#summary .child-row-wrapper {
    padding-left: 0;
}

#summary-container .category-anlytics {
    text-align: right;
    font-size: 14px;
}

#summary-container .count {
    color: #709dc0;
}

#summary-container .total {
    color: #a5b4be;
}

#summary-container .count, .total  {
    text-align: right;
    font-weight: 500;
}

#summary-container #summary.selected {
    margin-left: 0px;
}

#summary.selected .extra-information {
    display: none;
}

#summary {
    width: 150%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    padding-top: 10px;
    background-color: #f6f6ec;
    transition: left 1s;
    position: relative;
    left: 0;
}

#summary.selected {
    left: -50%;
}

#summary .child-rows {
    max-height: 480px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: left 1s;
    left: 100%;
    position: absolute;
    width: calc(100% - 1em);
    background: #f6f6ec;
}

/* extra information */
.extra-information {
    margin-top: 15px;
    margin-left: 30px;
}

.width-12-percent {
    width: 12%;
    float: left;
    display: inline-block;
}

.box {
    height: 10px;
    width: 10px;
    float: left;
    margin: 5px 5px 0 0;
}

.background-light-blue {
    background: #709dc0;
}

.background-grey {
    background: #a5b4be;
}

.extra-information-text {
    font-size: 14px;
    font-weight: 400;
}
/* end of summary extra information */

.arrow-container {
    position: absolute;
    right: -3px;
    color: #f6f6ec;
    top: -4px;
    border-right: solid #f6f6ec 1px;
    z-index: 1;
}

#summary .child-rows .row + .row {
    margin-top: 7px;
}

#summary .child-rows.active {
    left: calc(1em - 5px);
}

#summary .child-row-container {
    overflow-y: scroll;
    overflow-x: hidden;
    border-left: 1px solid #989898;
    min-height: 300px;
}

.summary-child-row .count{
    text-align: right;
}

.summary-child-row .category-name-wrapper {
    margin-left: -15px;
    width: calc(83.33333333% + 15px);
}

#summary .progress {
    height: 17px;
    margin-bottom: 7px;
}

#summary .category:hover, #summary .category.active {
    font-weight: 700;
}


#summary .category-name {
    color: #0079ae;
    font-size: 14px;
    font-weight: 400;
}

#summary .category-name:hover {
    text-decoration: none;
}

#summary.selected .main-category-name-wrapper.active {
    background-color: #0079ae;
    color: #ffffff;
}

#summary.selected .main-category-name-wrapper.active .category-name{
    color: #ffffff;
}

#summary .category-name.active {
    font-weight: 700;
}

#summary .category-name.active:focus {
    text-decoration: none;
}

#summary .child-active {
    background-color: #bed4df;
}


#summary .main-count {
    line-height: 25px;
}

#summary a.back {
    color: #666;
}

#summary .discipline {
    background: #709dc0;
}

#summary .complaint {
    background: #a5b4be;
}

#summary .type {
    font-weight: 300;
    line-height: 26px;
}

#summary .discipline-text {
    color: #709dc0;
}

#summary .complaint-text {
    color: #a5b4be;
}

#officer_list .officers .col-sm-2 {
    padding-right: 5px;
}

.officer-vertical-scroll {
    width: 100%;
    overflow: hidden;
}

.overview-box {
    border-bottom: 3px solid #cbcbcb;
    padding: 3px 0;
    border-top: 3px solid #cbcbcb;
}

.overview {
    height: 49px;
    background: green;
    float: left;
}

.overview-container {
    height: 64px;
    margin-bottom: 20px;
}

#overview-slider {
    width: calc(100% - 64px);
    margin: auto;
    height: 49px;
    position: relative;
    top: -55px;
    border: none;
    background: none;
}

#overview-slider.ui-slider .ui-slider-handle {
    border: 3px solid #333333;
    border-left: none;
    border-right: none;
    height: 61px;
    width: 64px;
    margin-left: -32px;
    top: -6px;
    background: none;
    border-radius: 0;
    font-size: 1em;
}

.overview-0 {
    background-color: #ff4647;
}

.overview-1 {
    background-color: #f3b272;
}

.overview-2 {
    background-color: #f2db6d;
}

.overview-3 {
    background-color: #a4c683;
}

.overview-4 {
    background-color: #62b28c;
}

.officers-container {
    width: 6000px;
    transition: 0.5s left ease;
    left: 0;
    position: relative;
}

.officers-container.off {
    transition: none;
    left: 0;
}

.officers-container > div:first-child {
    margin-left: 0;
}

.officer-block {
    width: 169px;
    float: left;
    margin-left: 25px;
}

.officer-control {
    background-color: #999999;
    width: 46px;
    height: 66px;
    position: absolute;
    font-size: 64px;
    text-align: center;
    color: white;
    line-height: 0;
    top: 72px;
    cursor: pointer;
}

.officer-control.off {
    display: none;
}

.officer-control-left {
    left: -43px;
}

.officer-control-right {
    right: -43px;
}

.officer {
    background-color: #f1f1f1;
    border: none;
    border-radius: 0;
    border-top: 5px solid red;
    font-size: 12px;
    position: relative;
    color: #989898;
    margin-bottom: 24px;
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px #cbcbcb;
    -moz-box-shadow: 3px 3px 3px #cbcbcb;
    -webkit-box-shadow: 3px 3px 3px #cbcbcb;
}

.no-box-shadow {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.officer {
    box-shadow: 3px 3px 3px #cbcbcb;
    -moz-box-shadow: 3px 3px 3px #cbcbcb;
    -webkit-box-shadow: 3px 3px 3px #cbcbcb;
}

.officer:hover {
    box-shadow: 7px 7px 7px #cbcbcb;
    -moz-box-shadow: 7px 7px 7px #cbcbcb;
    -webkit-box-shadow: 7px 7px 7px #cbcbcb;
}

.officer a.officer-link {
    color: #989898;
}

.officer.selected a.officer-link, .officer.active a.officer-link {
    color: #333;
    text-decoration: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.officer > .checkmark {
    position: absolute;
    padding: 4px 6px 3px 6px;
    right: 0;
    bottom: 0;
    background-color: #cbcbcb;
    color: white;
}

.officer.selected > .checkmark {
    background-color: #709dc0;
}

.officer > .checkmark:hover {
    background-color: #709dc0;
}

.officer.avg-0 {
    border-top-color: #c0272d;
}

.officer.avg-1 {
    border-top-color: #ed9429;
}

.officer.avg-2 {
    border-top-color: #d8b421;
}

.officer.avg-3 {
    border-top-color: #83b247;
}

.officer.avg-4 {
    border-top-color: #41996d;
}

.officer_name {
    text-transform: capitalize;
    font-size: 16px;
    font-style: italic;
    font-family: 'Vollkorn';
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    padding: 10px 10px 0 15px;
}

.officer .officer_name + .row {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
}

.officer-control:hover {
    opacity: .6;
}

@media only screen and (max-width: 1024px) {
    .officer-control {
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    .officers-container {
        width: 600%;
    }
    .officer-block {
        width: 16.666666%;
        margin: 0;
    }

    .officer-control {
        display: none;
    }

    .officer {
        padding: 2px;
        padding-bottom: 11px;
    }
}

.complaint_list {
    margin-top: 2em;
}

.complaint_list .filters > span {
    display: inline-block;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
    margin: 0 14px;
    cursor: pointer;
}

.complaint_list .filters > span.active, .complaint_list .filters > span:hover {
    border-bottom: 2px solid black;
}

.complaint_list .filters > span i {
    margin-right: 5px;
    display: inline-block;
    font-size: 0.7em;
}

.complaint-row-outcome {
    font-size: 2em;
    margin-top: 0.3em;
}

.complaint-row {
    padding:  5px 0 0;
    font-family: 'Vollkorn';
    clear: both;
    border-bottom: 1px solid black;
}

.complaint-row > .row:first-child {
    font-size: 16px;
}

.complaint-row .title {
    color: gray;
    font-size: 12px;
    font-family: 'Source Sans Pro';
}

.complaint-row .btn:hover {
    opacity: .6;
}

.complaint-row .show_more {
    font-size: 34px;
}

.timeline-title {
    color: #989898;
    font-size: 12px;
}

.timeline-date {
    color: black;
    font-size: 14px;
}

.witness {
    margin-bottom: 24px;
}

.progress-bar.discipline {
    background-color: #c0272d;
}

.progress.complaint {
    background-color: #709dc0;
}

.results {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #cbcbcb;
}

.investigation {
    font-family: "Source Sans Pro", sans-serif;
}

.investigation .results {
    width: 60%;
    float: left;
}

.legend {
    font-size: 14px;
    color: #989898;
}

.investigation .legend {
    float: left;
    width: 40%;
    padding-left: 10px;
}

.investigation .investigator-name {
    color: #709dc0;
    font-family: 'Vollkorn', serif;
}

.line {
    display: inline-block;
    width: 20px;
    height: 3px;
    margin-right: 5px;
}

.line.blue {
    background-color: #709dc0;
}

.line.red {
    background-color: #c0272d;
}

strong.red {
    color: #c0272d;
}

.timeline-date.start {
    color: #709dc0;
}

.timeline-date.end {
    color: #c0272d;
    font-size: 17px;
}

.complaint_detail .summary {
    border-bottom: 1px solid #333333;
    padding: 20px 0;
}

.complaint_detail .summary .col {
    float: left;
    padding: 0 15px;
}

.complaint_detail .summary .col + .col {
    border-left: 1px solid #333333;
}

.complaint_detail > div > .row {
    margin-bottom: 10px;
}

.complaint_detail > div > .row + .row{
    margin-top: 36px;
}

.address {
    background-color: #fff;
    padding: 15px;
}

.location .address {
    position: absolute;
    top: 50px;
    left: 50px;
}

.section-title {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    color: #333333;
    font-weight: 700;
}

.complaint_detail .uppercase {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Source Sans Pro', serif;
}

.complaint_detail .row.margin-top {
    margin-top: 20px;
}

.complaint_detail {
    background-color: #f7f7ed;
}

.complaint_detail .allegation-name {
    color: #989898;
    font-style: italic;
}

.btn.btn-view:not(.btn-link):not(.btn-flat) {
    background-color: #0079ae;
    color: white;
    font-family: 'Source Sans Pro';
    text-transform: none;
    border: 1px solid #0a90cb;
    width: 151px;
    font-size: 16px;
    padding: 5px 10px;
}

.btn.btn-request:not(.btn-link):not(.btn-flat) {
    background-color: white;
    color: #0a90cb;
    font-family: 'Source Sans Pro';
    text-transform: none;
    border: 1px solid #0a90cb;
    width: 151px;
    max-width: 151px;
    font-size: 16px;
    padding: 5px 10px;
}

@media screen and (max-width: 1024px){
    .btn.btn-request:not(.btn-link):not(.btn-flat) {
        width: 100%;
        max-width: 100%;
    }
}

.btn.btn-view:hover:not(.btn-link):not(.btn-flat) {
    background-color: #0a90cb;
    color: white;
}

.filter_links a {
    margin-right: 1.5em;
    color: #9a9a9a;
}

.filter_links a.active {
    color: black;
    border-bottom: 2px solid black;
}

#filter-row {
    min-height: 50px;
}

.margin-top {
    margin-top: 1em;
}

.cursor, .pointer {
    cursor: pointer;
}

/* vis.js style customization for timeline */
.vis-item {
    background-color: transparent;
    border-width: 0;
}

.vis-line, .vis-dot {
    border-color: #0079ae;
}

.vis-line.end, .vis-dot.end {
    border-color: #c0272d;
}

.vis-item.vis-box {
    border: none;
}

.vis-panel.vis-center {
    border-color: #0079ae;
}

/* leaflet heatmap */
.leaflet-container .marker-cluster-large {
    border-radius: 30px;
}
.leaflet-container .marker-cluster-small {
    border-radius: 10px;
}

canvas.leaflet-heatmap-layer {
    z-index: -1;
}

.fa.open-investigation {
    color: #d8b421;
}

.fa.sustained {
    color: #d8b421;
}

.fa.not.sustained, .fa.not-sustained {
    color: #0079ae;
}

.fa.unfounded {
    color: #333333;
}

.fa.disciplined {
    color: #c0272d;
}

.fa.exonerated {
    color: #62b28c;
}

.fa.other, .fa.no-affidavit {
    color: #989898;
}

.complaint-row.disciplined  .fa.fa-chevron-right {
     color: #c0272d;
}

.complaint-row.disciplined {
    background: #ffe3e7;
}

.btn-download {
    width: 151px;
    padding: 8px 0;
}

.btn-full-width {
    display: inline-block;
    width: 100%;
}

.padding-left {
    padding-left: 5px;
}

/* leaflet controller overrides */
.leaflet-control-layers label.active {
    color: blue;
}

.leaflet-control-layers-expanded {
    border: 0;
    padding: 0;
}

.leaflet-control-layers-base {
    float: left;
}

.leaflet-control-layers-separator {
    display: none;
}

.leaflet-control-layers-overlays {
    float: right;
}

.leaflet-control-layers label {
    display: inline-block;
    padding: 2px 5px;
    cursor: pointer;
}

.leaflet-control-layers label:not(:last) {
    border-right: 1px solid #989898;
}

.leaflet-control-layers label input {
    display: none;
}

.tright {
    text-align: right;
}

.fourty {
    width: 40%;
    float: left;
}

.sixty {
    width: 60%;
    float: left;
}

.thirty-five {
    width: 35%;
    float: left;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.top-left {
    top: 0;
    left: 0;
}

/* leaflet */
.leaflet-container .leaflet-control-attribution {
    display: none;
}

.leaflet-control-layers-base label {
    display: block;
    width: 150px;
    padding: 5px;
    margin: 0;
    font-weight: 400;
}

.leaflet-control-layers-base label input:checked + span, .leaflet-control-layers-base label:hover input + span {
    background-color: #0079ae;
    color: white;
}

.leaflet-control-layers-base label span {
    display: block;
    padding: 2px;
    padding-left: 15px;
    color: #0079ae;
}
.leaflet-control-command.leaflet-control{
    float:left;
}
.leaflet-control-command {
    border-top: 2px solid #000;
    clear: none;
}
.leaflet-control-layers.leaflet-control-layers-expanded {
    clear: none;
    float:left;
}
.leaflet-control-command-interior {
    padding: 10px;
    width: 150px;
    min-height: 40px;
    background-color: #fff;
    display: none;
    font-size: 18px;
    font-family: 'Vollkorn';
    border-top: 3px solid #333;
}

.leaflet-control-command-interior:hover {
    background-color: #F4F4F4;
}

.leaflet-bar, .leaflet-control-layers {
    border-radius: 0;
}

.leaflet-container {
    font-family: 'Source Sans Pro', serif;
}

.leaflet-control {
    font-size: 14px;
    border: 1px solid #b2b2b2;
    box-shadow: 1px;
}

.leaflet-control-zoom > a:hover {
    opacity: .3;
}

form.navbar-form.navbar-right {
    width: 50%;
}

.uppercase {
    text-transform: uppercase;
}

.tcenter {
    text-align: center;
}

.fade {
   opacity: 1;
   transition: opacity 0.5s ease-in-out;
   -moz-transition: opacity 0.5s ease-in-out;
   -webkit-transition: opacity 0.5s ease-in-out;
}

.slide-down {
    overflow-y: hidden;

    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    max-height: 10000px;
    opacity: 1;
}

.slide-down.closed {
    max-height: 0;
    opacity: 0;
}

.bootstrap-tagsinput > .tag{
    opacity:0;
    transition: all ease-in-out 0.5s;
}

.bootstrap-tagsinput > .tag.fadeIn {
    transition: all ease-in-out 0.5s;
    opacity: 1;
}

#disclaimer {
    font-family: Helvetica, sans-serif;
    transition: all ease-in-out 1s;
    opacity:1;
}

#disclaimer .modal-backdrop.in {
    opacity: .9;
}

#disclaimer .modal-backdrop {
  background: rgba(0,0,0,.7);
}

#disclaimer .modal-content {
    padding: 10px 0 30px 30px;
}

#disclaimer .modal-footer {
    text-align: left;
    padding: 0 0 20px 25px;
}

#disclaimer p {
    font-size: 16px;
}

.back-to-top {
    margin-top: 10px;
}

.rackspace-logo {
    height: 20px;
}

.btn-close:not(.btn-link):not(.btn-flat) {
    background-color: #cbcbcb;
    text-transform: none;
    color: #fff;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 8px 20px;
}

.btn-close:hover:not(.btn-link):not(.btn-flat) {
    color: #333;
}

.button-list {
    border-top: 1px solid #333;
    margin-top: 36px;
}

.button-list .btn {
    margin-left: 0;
}

.button-list .btn + .btn {
    margin-left: 20px;
}

#request_modal .modal-dialog {
    width: 700px;
}

.loading-animation {
    background-color: #709dc0;
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    transition: all 1s;
}
.race-gender {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    color: #989898;
    padding: 2px 15px 0 15px;
    line-height: 1.1em;
    min-height: 15px;
}
.officer .complaint-discipline-row {
    padding: 2px 10px 10px 15px;
    margin-bottom: 10px;
}

.officer-disciplines {
    margin-left: -10px;
}

.vertical-line {
    border-left: solid 1px #989898;
    height: 25px;
    float: left;
    margin-left: -6px;
    margin-top: 5px;
}

.download-wrapper .progress {
    width: 151px;
    height: 20px;
    margin: 0;
}

.download-wrapper .progress-bar {
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

.chart-row {
    padding-left: 0;
}

.chart-row .nav-tabs {
    background-color: #f1f1f1 !important;
}

.chart-row .nav-tabs > li {
    padding-top: 4px;
    border-top: 0 solid #f1f1f1 !important;
    border-right: 1px solid #cbcbcb !important;
    border-bottom: 1px solid #cbcbcb !important;
}

.chart-row .nav-tabs > li.active {
    padding-top: 0;
    border-top: 4px solid #0079ae !important;
    border-right: 0 !important;
    border-bottom: 1px solid #f6f6ec !important;
}

.chart-row .nav-tabs > li > a {
    border-radius: 0 !important;
    background-color: #f1f1f1 !important;
    color: #0079ae !important;
}

.chart-row .nav-tabs > li.active > a {
    background-color: #f6f6ec !important;
    color: #333333 !important;
    border-right: 1px solid #cbcbcb !important;
}

#sunburst-legend {
    color: #333;
    padding-top: 44px;
    padding-left: 30px
}

#sunburst-legend table {
    width: 100%;
}
#sunburst-legend table td {
    padding-right: 10px;
    padding-bottom: 5px;
    vertical-align: top;
}

#sunburst-legend .name {
    color: #0079ae;
}

#sunburst-legend .root {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

#sunburst-legend .list {
    margin-top: 30px;
}

#sunburst-legend .percent {
    min-height: 3em;
}

#sunburst-legend table td.size {
    text-align: right;
    width: 50px;
}
#sunburst-legend table td.color {
    width: 20px;
}

.sunburst-legend {
    cursor: pointer;
}

#sunburst-chart svg {
    position: relative;
}

#sunburst-chart.small svg {
}

#sunburst-chart {
    overflow: hidden;
}

#sunburst-chart path {
    stroke: #f6f6ec;
    fill-rule: evenodd;
}

#EmbedBar {
    margin-top: 15px;
    background-color: #a5b4be;
}

#EmbedBar .row > div {
    padding: 20px 10px;
}

#EmbedBar, #EmbedBar a {
    color: white;
}

#EmbedBar .active {
    background-color: #0079ae;
}

body.embedding {
    background-color: #a5b4be;
}

body {
    transition: 0.5s background-color;
}

.container.content {
    background-color: #fff;
    padding-bottom: 20px;
    margin-top: 28px;
}

.embed-code {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #a5b4be;
}

.embed-code .fa {
    color: #0079ae;
    font-size: 25px;
}

.embed-code input {
    width: calc(100% - 35px);
    border: none;
    padding: 0;
    margin-left: 5px;
}
