body {
    padding-top: 50px;
    background-color: white;
    font-family: 'Source Sans Pro', serif;
}

h1, h2, h3,  .h1, .h2, .h3 {
    font-family: 'Vollkorn', serif;
}

.page-header {
    margin-top: 20px;
}

button a:hover {
    text-decoration: none
}

.form-group ul.errorlist {
    margin: 0;
    padding: 0;
    list-style: none;
}

.form-group .alert {
    margin-bottom: 0;
}

.margin-top-0 {
    margin-top: 0;
}

footer {
    margin: 3em 0;
}

#map{
  width:100%;
  height:650px;
}

.navbar.navbar, .navbar-default.navbar {
    background: #ffffff;
    color: #000000;
}

.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    background: #0079af;
    color: #ffffff;
    font-family: Helvetica Neue, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: condensed;
}

.site-title {
    font-style: italic;
    font-size: 30px;
    font-family: 'Vollkorn', serif;
}

#summary {
    min-height: 400px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
}

#summary .progress {
    height: 20px;
    margin-bottom: 7px;
}

#summary .category-name {
   color: #0079af;
}

#summary .category-name.active{
    font-weight: 700;
}

#summary .main-category-name {
    font-size: 16px;
    font-weight: 600;
}

#summary .main-count {
    line-height: 25px;
}

#summary a.back {
    color: #666;
}

#summary .discipline {
    background: #709ec1;
}

#summary .complaint {
    background: #a6b5bf;
}

#summary .type {
    font-weight: 300;
    line-height: 26px;
}

#summary .discipline-text {
    color: #709ec1;
}

#summary .complaint-text {
    color: #a6b5bf;
}

#officer_list .officers .col-sm-2 {
    padding-right: 5px;
}

.well.officer {
    background-color: #ebebeb;
    border-top: 3px solid red;
    padding: 15px;
    padding-bottom:25px;
    font-size: 12px;
    position:relative;
}
.well.officer > .checkmark{
    position:absolute;
    padding:3px;
    left:0;
    bottom:0;
    background-color: #cbcbcb;
    color:white;
}
.well.officer.selected > .checkmark{
    background-color: #709dc0;

}
.well.officer.middle {
    border-top-color: yellow;
}

.well.officer.bellow {
    border-top-color: green;
}

.well.officer.above {
    border-top-color: red;
}

.officer_name {
    text-transform: capitalize;
    font-size: 16px;
    font-style: italic;
    font-family: 'Vollkorn';

}

.complaint_list {
    margin-top: 2em;
}

.complaint-row {
    padding:  0.5em 0;
    font-family: 'Vollkorn';
}

.complaint-row .title {
    color: gray;
    font-size: 12px;
    font-family: 'Source Sans Pro';
}
.complaint-row .btn-request{

}
.complaint-row .show_more {
    font-size: 34px;
}
.timeline-title{
    color: grey;
    font-size: 12px;
}
.timeline-date{
    color: black;
    font-size: 14px;
}
.investigation .progress-bar.discipline{
    background-color:red;
}
.investigation .progress.complaint{
    background-color:blue;
}
.investigation .results{
    width:30%;
    background-color:white;
    padding:15px;
}
.investigation .investigator-name{
    color:blue;
}
.investigation .line{
    display:inline-block;
    width:20px;
    height:3px;
    margin-right:5px;
}
.investigation .blue.line{
    background-color:blue;
}
.investigation .red.line{
    background-color:red;
}
.timeline-date.start{
    color: blue;
}
.timeline-date.end{
    color: red;
}
.complaint_detail .row.margin-top{
    margin-top: 20px;
}
.complaint_detail {
    background-color: #f7f7ed;
    padding: 1em 7.1% 1em;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.complaint_detail .title{
    padding-left:5px;
    border-left:3px solid black;
    font-size:18px;
    color:black;
}
.btn.btn-request:not(.btn-link):not(.btn-flat) {
    background-color: #0079af;
    color: white;
    font-family: 'Source Sans Pro';
    text-transform: none;
}
.btn.btn-request:hover:not(.btn-link):not(.btn-flat) {
    background-color: #0a90cb;
}

.complaint-row + .complaint-row {
    border-top: 1px solid black;
}

.filter_links a {
    margin-right: 1.5em;
    color: #9a9a9a;
}
.filter_links a.active {
    color: black;
    border-bottom: 2px solid black;
}

.margin-top{
    margin-top:1em;
}
