.complaint-detail
  background-color: #ddd
  border-bottom: solid 1px #000
  border-top: solid 1px #000
  width: 100%
  padding: 3px
  .complaint-category
    font-size: 16px
  .complaint-sub-category
    font-size: 19px
    font-weight: 500
    margin: 5px 0
  .detail
    div
      padding: 2px
      font-size: 13px
      label
        color: #aaa
      span
        color: #333
        margin: 10px
  .under-line
    border-bottom: solid 1px #aaa
