.complaining-witness
  font-size: 17px
  margin-bottom: 11px
  .complaining-witness-list
    margin: 0
    font-size: 15px
    .complaining-witness-row
      line-height: 35px
      .circle-wrapper
        line-height: 35px
        margin-top: -4px
