.complaint-detail
  .headline
    font-size: 13px
    margin-bottom: 16px
    .crid-title
      color: $crid-title-color
      margin-right: 5px
  .complaint-category
    font-size: 25px
    line-height: 30px
  .complaint-sub-category
    margin-bottom: 25px
    font-size: 15px
  .document-link
    font-size: 15px
