.investigator-section
  .investigator-card
    .circle-wrapper
      line-height: 60px
    .investigator
      padding: 9px 0
      height: 60px
      .name
        font-size: 16px
      .rank
        font-size: 14px
