.location
  padding-bottom: 3px
  .location-detail
    margin: 10px 0
    font-size: 13px
    &.no-data
      height: 20px
    label
      color: $location-label-color
  .location-map
    padding-bottom: 37px

@import 'location/map'