.officer-allegation-detail
  .headline
    font-size: 13px
    margin-bottom: 16px
    .crid-title
      color: $crid-title-color
      margin-right: 5px
    .number-of-allegations-section
      color: $number-allegation-color
      font-size: 12px
      .number-of-allegations
        margin-right: 7px
      .icon
        float: right
        line-height: 12px
        font-size: 16px
  .category-info
    .allegation-category
      font-size: 25px
      line-height: 30px
    .allegation-name
      margin-bottom: 25px
      font-size: 15px
