.police-witness
  .legend
    margin: 5px 0
    .progress
      display: inline
      width: 30px
  .police-witness-list
    padding: 10px
    background-color: #fff
    .item
      margin: 10px 0
  .legend-block
    margin-right: 10px
    .legend-bar
      display: inline-block
      background-color: #0a0a0a
      margin-bottom: 4px
      height: 3px
      width: 12px
    .legend-title
      margin: 0 3px
    .background-gray
      background-color: #bbb
