.toggle-complaint-page
  animation: slide 0.7s ease-in-out
  -webkit-animation: slide 0.7s forwards
  -moz-animation: slide 0.7s forwards
  -o-animation: slide 0.7s forwards

.toggle-page
  background-color: $section-background
  position: absolute
  width: 100%
  height: 100%
