.toggle-complaint-page
  .headline-container
    background-color: $section-background
    margin-bottom: 11px
    font-size: 13px
    .crid-container
      float: left
      padding: 8px 6px 10px 10px
      line-height: 25px
      .crid-title
        color: $crid-title-color
        padding-right: 2px
    .toggle-container
      float: right
      background-color: $content-background
      padding: 8px 6px 10px 15px
      color: $toggle-color
      .number-of-allegations
        line-height: 25px
        font-size: 11px
        padding-right: 3px
      .icon
        font-size: 16px
        line-height: 24px
        float: right
        font-weight: 900
