amqp==1.4.6
anyjson==0.3.3
argh==0.26.1
beautifulsoup4==4.3.2
billiard==3.3.0.20
celery==3.1.18
chardet==2.3.0
coverage==3.7.1
coveralls==1.1
dj-database-url==0.3.0
Django==1.8.1
django-appconf==1.0.1
django-bower==5.0.4
django-compressor==1.5
django-cors-headers==1.1.0
django-csvimport==2.4
django-debug-toolbar==1.4
django-extensions==1.5.3
django-factory==0.11
django-filter==0.11.0
django-jsonify==0.3.0
django-nose==1.4.1
django-postgrespool==0.3.0
django-redis-cache==1.6.0
django-tables2==1.0.4
djangorestframework==3.2.2
extras==0.0.3
factory-boy==2.5.2
fake-factory==0.5.0
gnureadline==6.3.3
gunicorn==19.3.0
hashids==1.1.0
html5lib==0.999999
ipython==3.2.1
kombu==3.0.26
linecache2==1.0.0
Markdown==2.6.2
mock==1.0.1
nose-timer==0.5.0
pathtools==0.1.2
pbr==0.11.0
ply==3.6
psycopg2==2.6
pyproj==1.9.4
pyshp==1.2.1
python-dateutil==2.4.2
python-documentcloud==1.0.1
python-mimeparse==0.1.4
python3-memcached==1.51
pytz==2015.4
PyYAML==3.11
redis==2.10.3
requests==2.7.0
selenium==2.48.0
simplejson==3.7.3
six==1.9.0
slimit==0.8.1
SQLAlchemy==1.0.4
sure==1.2.10
testtools==1.8.0
traceback2==1.4.0
Unidecode==0.4.18
unittest2==1.0.1
wheel==0.24.0
whitenoise==1.0.6
XlsxWriter==0.7.3
django-user-agents==0.3.0
ua-parser==0.4.1
freezegun==0.3.5
