Django==1.8.1
SQLAlchemy==1.0.4
argparse==1.3.0
beautifulsoup4==4.3.2
chardet==2.3.0
coverage==3.7.1
dj-database-url==0.3.0
django-bower==5.0.4
django-cors-headers==1.1.0
django-csvimport==2.4
django-extensions==1.5.3
django-factory==0.11
django-postgrespool==0.3.0
django-tables2==1.0.4
extras==0.0.3
factory-boy==2.5.2
fake-factory==0.5.0
gunicorn==19.3.0
linecache2==1.0.0
mock==1.0.1
pbr==0.11.0
psycopg2==2.6
pyshp==1.2.1
python-dateutil==2.4.2
python-documentcloud==1.0.1
python-mimeparse==0.1.4
python3-memcached==1.51
requests==2.7.0
selenium==2.45.0
simplejson==3.7.3
six==1.9.0
sure==1.2.10
testtools==1.8.0
traceback2==1.4.0
unittest2==1.0.1
whitenoise==1.0.6
hashids==1.1.0
