.officer-header
  background-color: #fff
  padding-top: 16px
  padding-left: 10px
  .name
    font-size: 25px
    color: $officer-name-color
    font-weight: 700
  .badge-info
    font-size: 13px
    label
      color: $officer-label-color
    span
      color: $officer-number-color
