.officer-detail
  .officer-title
    margin: 6px 0
  .officer-id
    border-top: solid 3px #000
    padding-top: 2px
  .officer-name
    font-size: 17px
    margin-left: 5px
    font-weight: 500
  .information
    border-bottom: solid 1px #000
    border-top: solid 1px #000
    div
      padding: 3px 0
    label
      color: #aaa
    span
      color: #333
      margin: 10px
    .office-unit
      width: 80%
