.officer-analytics
  .analytics-header
    padding: 10px
    font-size: 15px
    font-weight: 500
    background-color: #fff
  .distribution-curve
    background-color: #ddd
    height: 320px
    text-align: center
    vertical-align: middle
    span
      margin: auto
      line-height: 320px

