.officer-summary
  padding: 16px 0 24px 10px
  font-size: 15px
  background-color: #fff
  border-bottom: solid 1px #ddd
  .label
    color: $officer-label-color
    font-weight: 600
    width: 60px
    display: inline-block
  .value
    color: $officer-number-color