.officer-header
  background-color: $white
  .name
    color: $officer-name-color
    font-size: 25px
    font-weight: 700
  .badge-info
    font-size: 13px
    .badge-label
      color: $officer-label-color
