.officer-tab-bar
  font-size: 15px
  padding: 15px 0
  background-color: #fff
  border-bottom: solid 1px #ddd
  a
    margin-right: 20px
    padding: 10px
    color: $inactivate-color
  .selected
    color: $activate-color
    border-bottom: solid 5px $activate-color
