.officer-complaint-details
  background-color: #e8e9ea
  padding: 1px 0 11px 0
  font-size: 13px
  .complaint-detail-item
    background-color: #fff
    padding: 10px
    margin-top: 11px
    .basic-info
      font-size: 11px
    .label
      color: $officer-label-color
      font-weight: 600
      font-size: 15px
    .value
      color: $officer-number-color
      font-size: 15px
    .final-result
      float: right
    .complaint-category
      margin: 15px 0
      .category
        font-size: 16px
        font-weight: 700
    .circle
      margin: 4px 2px 0 3px
