.related-officer-card
  margin: 12px 0
  background: #EEE
  border-left: solid 3px #000
  padding: 10px
  a
    padding: 0
    color: #333
  .basic-information
    width: 60%
    display: inline-block
    .officer-name
      font-size: 16px
      font-weight: 500
    .gender-information
      color: #aaa
  .description
    width: 30%
    display: inline-block
    float: right
    text-align: center
