/** San Francisco Compact Text
/** Light
@font-face
  font-family: "San Francisco Text Web"
  font-weight: 300
  src: url("/static/fonts/SF-Compact-Text-Light.otf")

@font-face
  font-family: "San Francisco Compact Web"
  font-weight: 300
  src: url("/static/fonts/SF-Compact-Text-Light.otf")

@font-face
  font-family: "San Francisco Compact Web"
  font-weight: 700
  src: url("/static/SF-Compact-Text-Bold.otf")

@font-face
  font-family: "San Francisco Compact Web Bold"
  font-weight: 600
  src: url("/static/fonts/SF-Compact-Display-Bold.otf")
/** Regular
@font-face
  font-family: "San Francisco Text Web"
  font-weight: 400
  src: url("/static/fonts/SF-Compact-Text-Regular.otf")


/** Normal
@font-face
  font-family: "San Francisco Text Web"
  font-weight: normal
  src: url("/static/fonts/SF-Compact-Text-Medium.otf")


/** Semi Bold
@font-face
  font-family: "San Francisco Text Web"
  font-weight: 500
  src: url("/static/fonts/SF-Compact-Text-Semibold.otf")


/** Bold
@font-face
  font-family: "San Francisco Text Web"
  font-weight: 600
  src: url("/static/fonts/SF-Compact-Text-Bold.otf")

/** Bold
@font-face
  font-family: "San Francisco Text Web"
  font-weight: 700
  src: url("/static/fonts/SF-Compact-Text-Bold.otf")


/** San Francisco Compact Display
/** Light
@font-face
  font-family: "San Francisco Display Web"
  font-weight: 300
  src: url("/static/fonts/SF-Compact-Display-Light.otf")


/** Regular
@font-face
  font-family: "San Francisco Display Web"
  font-weight: 400
  src: url("/static/fonts/SF-Compact-Display-Regular.otf")


/** Normal
@font-face
  font-family: "San Francisco Display Web"
  font-weight: normal
  src: url("/static/fonts/SF-Compact-Display-Medium.otf")


/** Semi Bold
@font-face
  font-family: "San Francisco Display Web"
  font-weight: 500
  src: url("/static/fonts/SF-Compact-Display-Semibold.otf")


/** Bold
@font-face
  font-family: "San Francisco Display Web"
  font-weight: 600
  src: url("/static/fonts/SF-Compact-Display-Bold.otf")

/** Bold
@font-face
  font-family: "San Francisco Display Web"
  font-weight: 700
  src: url("/static/fonts/SF-Compact-Display-Bold.otf")
