/** San Francisco Compact Text
/** Light
@font-face
  font-family: "San Francisco Text Web"
  font-weight: 300
  src: local("SF UI Text"), local(".SFNSText-Light"), url("/static/fonts/SF-Compact-Text-Light.otf")

/** Regular
@font-face
  font-family: "San Francisco Text Web"
  font-weight: 400
  src: local("SF UI Text"), local(".SFNSText-Regular"), url("/static/fonts/SF-Compact-Text-Regular.otf")

/** Normal
@font-face
  font-family: "San Francisco Text Web"
  font-weight: normal
  src: local("SF UI Text"), local(".SFNSText-Medium"), url("/static/fonts/SF-Compact-Text-Medium.otf")

/** Semi Bold
@font-face
  font-family: "San Francisco Text Web"
  font-weight: 500
  src: local("SF UI Text"), local(".SFNSText-Semibold"), url("/static/fonts/SF-Compact-Text-Semibold.otf")

/** Bold
@font-face
  font-family: "San Francisco Text Web"
  font-weight: 600
  src: local("SF UI Text"), local(".SFNSText-Bold"), url("/static/fonts/SF-Compact-Text-Bold.otf")

/** Bold
@font-face
  font-family: "San Francisco Text Web"
  font-weight: 700
  src: local("SF UI Text"), local(".SFNSText-Bold"), url("/static/fonts/SF-Compact-Text-Bold.otf")


/** San Francisco Compact Display
/** Light
@font-face
  font-family: "San Francisco Display Web"
  font-weight: 300
  src: local("SF UI Display"), local(".SFNSDisplay-Light"), url("/static/fonts/SF-Compact-Display-Light.otf")

/** Regular
@font-face
  font-family: "San Francisco Display Web"
  font-weight: 400
  src: local("SF UI Display"), local(".SFNSDisplay-Regular"), url("/static/fonts/SF-Compact-Display-Regular.otf")

/** Normal
@font-face
  font-family: "San Francisco Display Web"
  font-weight: normal
  src: local("SF UI Display"), local(".SFNSDisplay-Medium"), url("/static/fonts/SF-Compact-Display-Medium.otf")

/** Semi Bold
@font-face
  font-family: "San Francisco Display Web"
  font-weight: 500
  src: local("SF UI Display"), local(".SFNSDisplay-Semibold"), url("/static/fonts/SF-Compact-Display-Semibold.otf")

/** Bold
@font-face
  font-family: "San Francisco Display Web"
  font-weight: 600
  src: local("SF UI Display"), local(".SFNSDisplay-Bold"), url("/static/fonts/SF-Compact-Display-Bold.otf")

/** Bold
@font-face
  font-family: "San Francisco Display Web"
  font-weight: 700
  src: local("SF UI Display"), local(".SFNSDisplay-Bold"), url("/static/fonts/SF-Compact-Display-Bold.otf")
