
/** Light
@font-face
  font-family: "San Francisco Compact Web"
  font-weight: 300
  src: url("/static/fonts/SF-Compact-Text-Light.otf")


/** Regular
@font-face
  font-family: "San Francisco Compact Web"
  font-weight: 400
  src: url("/static/fonts/SF-Compact-Text-Regular.otf")


/** Normal
@font-face
  font-family: "San Francisco Compact Web"
  font-weight: normal
  src: url("/static/fonts/SF-Compact-Text-Medium.otf")


/** Semi Bold
@font-face
  font-family: "San Francisco Compact Web"
  font-weight: 500
  src: url("/static/fonts/SF-Compact-Text-Semibold.otf")


/** Bold
@font-face
  font-family: "San Francisco Compact Web"
  font-weight: 600
  src: url("/static/fonts/SF-Compact-Text-Bold.otf")

/** Bold
@font-face  font-family: "San Francisco Compact Web"
  font-weight: 700
  src: url("/static/fonts/SF-Compact-Text-Bold.otf")
