.site-links-wrapper

  .site-links
    background: transparent
    border-bottom: none
    color: #333
    padding: 15px

    li > a
      color: $color_deep_cerulean_approx !important // bad idea :(
      &:hover
        color: $color_deep_cerulean_approx !important

