ul.filter
  list-style: none
  margin-top: 10px
  padding-left: 0
  li
    display: inline-block
    line-height: 20px
    margin-right: 30px
    padding: 0 2px
    color: $color-dusty-gray
    &.active,&:hover
      color: $color-mine-shaft
      border-bottom: 2px solid $color-mine-shaft
      background-color: transparent