.query
  .fa.fa-plus
    color: $blue

.table
  &> thead
    &> tr
      &> th
        color: $color-dusty-gray
        font-weight: normal
        font-size: 14px
        padding: 10px 0
        padding-right: 10px
        border-bottom: solid 1px $color-silver
  &> tbody
    &> tr
      &> td
        padding: 18px 0
        padding-right: 10px
