{% extends 'base.html' %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block head-link %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock %}

{% block content %}

    <input id="search-box" type="text">

    {% render_table allegation_list %}

{% endblock %}

{% block footerjs %}
    {{ block.super }}
    <script src="{% static 'typeahead.js/dist/typeahead.bundle.min.js' %}"></script>
    <script>
    function createBloodhound(field) {
        return new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '{{ autocomplete_json_url }}?field=' + field,
            remote: {
                url: '{{ autocomplete_json_url }}?field=' + field + '&query=%QUERY',
                wildcard: '%QUERY'
            }
        });
    }

    $('#search-box').typeahead({
        highlight: true
    },
    {
        source: createBloodhound('officer_first')
    },
    {
        source: createBloodhound('officer_last')
    });
    </script>
{% endblock %}
