.complaint-0 {
    fill: #7BB4FF;
}
.complaint-1 {
    fill: #628FCA;
}
.complaint-2 {
    fill: #4A6C96;
}
.disciplined {
    fill: #0F70A8;
}
.undisciplined {
    fill: #9FAEB9;
}

.complaint-rate-label {
    color: #62b28c;
    font-weight: 400;
    font-style: italic;
    padding-top: 1.5em;
    font-family: 'Vollkorn';
}

.avg-0 .complaint-rate-label {
    color: #c0272d;
}

.avg-1 .complaint-rate-label {
    color: #ed9429;
}

.avg-2 .complaint-rate-label {
    color: #d8b421;
}

.avg-3 .complaint-rate-label {
    color: #83b247;
}

.avg-4 .complaint-rate-label {
    color: #41996d;
}


.star {
    border-top: 3px solid #62b28c;
    margin-right: 1em;
}

.avg-0 .star {
    border-top-color: #c0272d;
}

.avg-1 .star {
    border-top-color: #ed9429;
}

.avg-2 .star {
    border-top-color: #d8b421;
}

.avg-3 .star {
    border-top-color: #83b247;
}

.avg-4 .star {
    border-top-color: #41996d;
}

#OfficerDetail > .row {
    background: #f7f7ed;
}

.information {
    padding: 15px 35px;
    border-top: solid 1px #333333;
}

.information-entry {
    display: inline-block;
    white-space: nowrap;
    padding: 3px 5px;
    font-weight: 500;
}

.information-entry .desc {
    color: #989898;
    font-weight: 400;
}

.information-entry .val {
    color: #333333;
    font-weight: 400;
}

.splitter {
    border-right: solid 1px #cbcbcb;
    height: 20px;
    margin-top: 5px;
}
.information-entry span + span {
    padding: 0 4px;
}

.visualization-information {
    padding-top: 20px;
}
.vis-timeline {
    border: none;
}
.vis-current-time {
    display: none;
}

.donut-chart {
    height: 260px;
}
.donut-summary{
    margin-bottom: 10px;
    margin-top: 25px;
    padding: 0 10px;
}

.vis-item.vis-background .vis-item-content {
  word-wrap: break-word;
  position: initial;
  width: 100%;
  white-space: initial;
}

.vis-item.missing-data {
    color: #989898;
    font-size: 12px;
    background: transparent;
}

.vis-item.missing-data .vis-item-overflow {
    background: #e5e5e5;
    margin-top: 50px;
    height: calc(100% - 50px);
}

.story {
    border-bottom: 1px solid #cbcbcb;
    padding: 20px;
}

.story .title {
    font-size: 16px;
    font-family: 'Vollkorn', serif;
}

.story .title .fa {
    color: #67ADC5;
    margin-left: 10px;
}

.story .date {
    font-size: 14px;
    color: #989898;
    font-family: 'Vollkorn', serif;
    font-style: italic;
}

.story .short-description {
    height: 5em;
    font-family: "Source Sans Pro", sans-serif;
    font-style: 16px;
}
