.autocomplete-search
{
    font-family: "courier new", monospace;
    font-size: medium;
    height: 42px;
}
.autocomplete-search .search-placeholder{
    position: absolute;
    cursor: text;
}
.autocomplete-search input:focus {
    outline: transparent none;
    box-shadow: none;
}
.autocomplete-search .bg-search-input
{
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
}

.autocomplete-search .tt-suggestion
{
    margin-left: 10px;
}

.autocomplete-search input
{
    border: none;
}
.autocomplete-search .search-group {
    display: inline-block;
    height: 31px;
}
.has-value{
    background: gray;
    color: white;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-right: 3px;
}
.autocomplete-search .tt-hint{
    opacity: 0 !important;
}
.twitter-typeahead {
  top: 5px;
  left: 2px;
}

.twitter-typeahead .dropdown-menu{
    background: gray;
    color: white;
}
