#period-picker
  display: inline-block
  margin-right: 20px
  float: right
  li
    float: left
    padding: 5px 10px
    margin-right: 5px
    line-height: 20px
    color: $period-picker-color

    &.active, &:hover
      background: none
      border-bottom: solid 1px $period-picker-active-color
      color: $period-picker-active-color
