#query-list-item
  li
    border-bottom: solid #ccc 1px
    padding: 10px
    &:hover
      background: $menu-active-bg-color
    @media(max-width: 1000px)
      display: inline-block
      width: 20%
