.investigation-timeline
  fill: $timeline-color
  height: 0
  position: relative
  width: 320px
  padding-top: 155px
  svg
    position: absolute
    top: 0
    width: 100%
    margin: 15px 0
    .drawing
      stroke: $timeline-color
      strokeWidth: 1.5
      fill: none
    .fill
      fill: $timeline-color
    .event-title
      @extend .bold
      font-size: 15px
    .event-date
      font-size: 13px

  @media all and (orientation: portrait)
    margin-left: 3.5%

  @media all and (orientation: landscape)
    margin-left: 4%
