.officer-name-results
  margin: 10px 0
  background-color: $search-page-item-background-color
  border-bottom: solid 1px $border-color
  border-top: solid 1px $border-color
  padding: 5px 0
  .officer-name
    color: $officer-name-color
    font-size: 16px
    font-weight: 700
  .officer-description
    color: $officer-label-color
    font-size: 14px
    line-height: 14px
  .officer-header
    font-size: 14px
    .complaint-count
      float: right
    .badge-title
      color: $search-page-badge-title-color
