.request-modal-content
  position: fixed
  z-index: 1
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background-color: rgba(0,0,0,0.4)
  input, button
    font-family:  -apple-system, 'San Francisco', 'Roboto', sans-serif
  .modal-content
    position: relative
    background-color: $section-background
    padding: 3%
    margin: 3%
    height: 220px
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
    .thank-you
      .message-header
        margin: 0 0 12px 0
    .btn-submit
      margin-left: 2px
      color: $request-modal-submit-button-color
      border-color: $request-modal-submit-button-border-color
    .error
      font-size: 13px
      padding-bottom: 10px
      color: $error-color
      font-style: italic
    .modal-header
      margin-bottom: 24px
      .icon
        float: right
        line-height: 24px
        font-size: 19px
    .modal-body
      .message-header
        font-size: 16px
        font-weight: 600
        padding-bottom: 11px
      .email-input
        padding: 0 8px
        font-size: 13px
      .email-input::-webkit-input-placeholder
        font-family:  -apple-system, 'San Francisco', 'Roboto', sans-serif
        font-size: 13px
      .email-input::-moz-placeholder
        font-family:  -apple-system, 'San Francisco', 'Roboto', sans-serif
        font-size: 13px
      .email-input:-moz-placeholder
        font-family:  -apple-system, 'San Francisco', 'Roboto', sans-serif
        font-size: 13px
    .hide
      display: none
