<div role="tabpanel" class="tab-pane active" id='find-page'>
  <div class='row section'>
    <div class='container'>
      <div class='col-sm-6'>
        <img src="/static/allegation/img/findings-main-1.png" alt=''>
      </div>
      <div class='col-sm-6'>
        <p>
          Currently, the Chicago Police Department does not analyze its own misconduct complaint data for patterns among problem officers. While a high number of complaints does not necessarily indicate an abusive officer, it should merit internal inquiry.
        </p>
        <p>
          In the absence of a universal tracking system across each of the department’s investigatory units,  this database aims to demonstrate what a system of police accountability could look like.
        </p>
        <p>
          The Citizens Police Data Project, and the stories told from it, provide a model for public input and oversight.
        </p>
      </div>
    </div>
  </div>
  <div class='row section'>
    <div class='container'>
      <div class='col-sm-6'>
        <img src="/static/allegation/img/graph-1.svg" alt=''>
        <p>
          26,787 allegations of a were filed against Chicago Police Department officers between March 2011 and March 2015. Of those, _____(%) involved an encounter with a citizen.
        </p>
        <p>
          Less than 2% of all complaints resulted in any discipline.
        </p>
      </div>
      <div class='col-sm-6'>
        <img src="/static/allegation/img/graph-2.svg" alt=''>
        <p>
          When punishments are given to officers, the vast majority lead to the <a href="">violation being noted</a>, <a href="">reprimand</a>, or suspensions of less than one week.
        </p>
      </div>
    </div>
  </div>

  <div class='row section'>
    <div class='container'>
      <div class='col-sm-12'>
        <img src="/static/allegation/img/data-chart.png" alt=''>
        <p>
          Complaints are disproportionately filed against a small subset of the Chicago Police Department.
        </p>
        <p>
          Repeat officers—those with 10 or more complaints—make up 10% of the force but receive 30% of all complaints. They average 3.7 times as many complaints as the remaining 90% of officers.
        </p>
       </div>
     </div>
  </div>

  <div class='row section'>
    <div class='container'>
      <div class='col-sm-6'>
        <img src="/static/allegation/img/graph-3.svg" alt=''>
      </div>
      <div class='col-sm-6'>
        <p>
          Black Chicagoans filed 61% of all complaints in the database, but make up only 25% of sustained complaints.
        </p>
        <p>
          White Chicagoans––who made 21% of total complaints––account for 58% of proven complaints.
        </p>
      </div>
    </div>
  </div>

  <div class='row section font-size-19'>
    <div class='container'>
      <div class='col-sm-6'>
        <img src="/static/allegation/img/story-ad.png" alt=''>
        <p>
          What is the story CPDP?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dictum malesuada ornare. Quisque magna elit, accumsan imperdiet mauris ac, sollicitudin mollis felis. Cras sed tellus nisl.
        </p>
        <a class='tab-navigate btn' tab-navigate="story-page">View the Story</a>
      </div>
      <div class='col-sm-6'>
        <img src="/static/allegation/img/data-ad.png" alt=''>
        <p>
          Where does this data come from?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dictum malesuada ornare. Quisque magna elit, accumsan imperdiet mauris ac, sollicitudin mollis felis.
        </p>
        <a href='/#!/data-tools' class='btn'>See the database</a>
      </div>
    </div>
  </div>
</div>
