.horizontal-percentage-chart
  height: 120px

  .chart-label
    color: #A5B4BD
    font-weight: lighter
    margin-bottom: 3px

  .label-bar
    position: relative
    height: 63px

  .segment-label
    position: absolute
    transform-origin: 0 100%
    transform: translateX(13px) rotate(-40deg)
    top: 46px
    font-weight: 200

    &.active
      font-weight: 600

    &.hover
      opacity: 0.5

  .segment-name
    color: #1464f1
    margin-bottom: -5px
    padding-left: 5px

  svg
    rect
      cursor: pointer
      opacity: 0.5
      &.active
        opacity: 1
