
.horizontal-percentage-chart
  .chart-label
    color: #A5B4BD
    font-weight: lighter
    margin-bottom: 3px

  .label-bar
    position: relative
    margin-top: -5px

  .segment-label
    position: absolute

  .segment-name
    color: #A5B4BD
    font-weight: lighter
    margin-bottom: -5px

  .segment-percentage
    font-weight: bold
