.race-gender-age-tab
  padding: 30px
  padding-right: 60px

  .title
    font-size: 1.2em
    font-weight: bold
    margin-bottom: 10px

@media (min-width: $screen-md-min)
  .race-gender-age-tab
    max-width: 612px
