#gender-race-tab
  padding: 20px 0
  .chart-title
    font-size: 14px
  .vertical-chart-title
    top: 80px
    span
      transform: rotate(-90deg)
      float: left
  .row
    padding-top: 7x
    padding-bottom: 7px
