.share-button > button
  color: $color_cadet_blue_approx
  padding: 0 10px
  height: 45px
  border: 0
  background: white
  font-weight: 100

.share-button.active > button
  background-color: $color_blumine_approx
  color: $color_link_water_approx

.share-bar
  background-color: $color_blumine_approx
  color: $color_link_water_approx
  position: absolute
  height: 55px
  width: 100%
  top: 45px
  left: 0
  z-index: 1

  .share-bar-content-wrapper
    margin: 12px auto
    width: 500px

  i.fa
    font-size: xx-large
    margin: 0 9px
    cursor: pointer
    color: $color_link_water_approx

  input
    width: 386px
    height: 30px
    border: 0
    background-color: $color_link_water_approx
    margin: 0 9px
    vertical-align: top
    color: $color_blumine_approx
    padding: 0 5px
    font-size: smaller
