#landing-page
  $light_blue: #E8F0F9
  $dark_blue: #1464f1
  $font_weight: 300

  color: #013270
  font-family: 'San Francisco Compact Web'
  font-weight: $font_weight

  a
    color: $dark_blue
    &.btn
      font-weight: $font_weight
      background: #E8ECF5
      font-size: 19px
      padding: 10px 40px
      border: 0
      margin-top: 20px
    &:hover, &:focus
      text-decoration: none

  .padding-side-75
    padding-left: 75px !important
    padding-right: 75px !important

  .font-size-22
    font-size: 17px !important
    line-height: 22px !important

  .font-size-17
    font-size: 17px !important
    line-height: 20px !important

  .font-size-19
    font-size: 19px !important
    line-height: 22px !important

  .welcome
    height: 243px
    background: #fff

  .page-banner
    width: 350px
    margin: auto
    font-size: 17px
    line-height: 22px

  nav.landing-nav
    background-color: #fff
    z-index: 10
    [role=tablist]
      margin: 0
    li
      float: right
      list-style: none
      text-align: center
      margin-left: 65px
      a
        font-size: 16px
      &.active
        position: relative
        a
          color: #013270
        &:after
          content: ''
          display: inline-block
          background: $light_blue
          width: 15px
          height: 15px
          position: absolute
          top: 40px
          right: 30px
          transform: rotate(90deg)
          -webkit-transform: rotate(45deg)

  .fixed-nav
    position: fixed
    width: 100%
    top: 0
    left: 0

  .sub-nav
    background: $light_blue
    height: 45px

  .margin-top-90
    margin-top: 45px

  .container
    margin-left: auto
    margin-right: auto
    padding: 0
    width: 100% !important
    height: auto
    max-width: 768px

  .section
    padding: 70px 25px 80px 25px
    background: #fff
    font-size: 19px
    line-height: 22px
    margin: 0
    &:nth-of-type(odd)
      background: $light_blue
      font-size: 17px
      line-height: 22px

    img + p, img + img
      margin-top: 38px

    .col-sm-6
      padding: 25px

    img
      width: 100%
      height: auto

    .btn
      background-color: rgba(20,100,241,0.1)
      margin-top: 9px

    [class^="col-sm"]
      padding: 0 25px

    .col-sm-12 p
      padding: 0 50px

  .page-logo
    height: 90px
    margin-left: 25px
    img
      position: relative
      top: 50%
      transform: translateY(-50%)

  .items
    margin-right: 25px
    a
      line-height: 45px

  .story-nav
    height: 45px
    background: $light_blue
    a
      line-height: 45px
      margin: 0 27.5px

  #story-page
    .story-img-section
      padding-top: 0

    h1
      font-size: 40px
      line-height: 48px
      color: $dark_blue


  .footer
    background: #2F2F2F
    padding: 38px 1.5% 80px 1.5%
    color: #fff
    font-size: 16px
    line-height: 20px
    .col-sm-4
      padding: 25px
      padding-bottom: 0
    p
      margin-bottom: 8px
    h4
      font-size: 19px
      font-weight: $font_weight
      opacity: 0.7
      margin-bottom: 20px
    .btn
      margin-top: 11px
      color: #fff
      background-color: rgba(0,0,0,0.2)
    form
      input[type=email], input[type=text]
        background: #3E3E3E
        width: 100%
        border: none
        padding: 15px 20px
        border-radius: 4px
        margin-top: 11px

      input[type=submit]
        font-size: 19px
        font-weight: $font_weight
        margin-top: 19px
        padding: 10px 25px
