#page-not-found
  position: absolute
  padding: 60px 20px
  color: $page-not-found-header-text-color
  background-color: $logo-background
  height: 380px
  &.top-left
    opacity: 0
  .page-not-found-header
    font-size: 25px
    font-weight: bold
    margin-bottom: 9px
  .page-not-found-description
    font-size: 15px
    line-height: 20px
