.project-summary
  display: block
  max-height: 300px
  &.top-left
    max-height: 0px
    overflow: hidden
  .cpdb-logo
    font-size: 30px
    font-weight: bold
    padding: 36px 20px 10px 20px
  .cpdb-description
    font-size: 15px
    line-height: 20px
    opacity: 0.5
    margin: 20px 20px
    .paragraph
      margin: 10px 0
