.search-component
  position: relative
  width: 100%
  color: $logo-text-color
  background-color: $logo-background
  padding-bottom: 20px
  &.top-left
    background-color: transparent
    padding-bottom: 0
  .search-wrapper
    position: relative
    width: 100%
    padding: 0 3%
    &.top-left
      margin-top: 0
      position: relative
      padding: 0
  .search-results
    color: $search-results-text-color

@import 'search_component/search_bar'
@import 'search_component/project_summary'
