<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}Home{% endblock %} - {{ SITE_NAME }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="{% block meta-description %}{% trans 'CPDB' %}{% endblock %}" />
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}" />
    <meta name="author" content="Antipro.VN" />
    {% block meta %}{% endblock %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="home" href="/" />
    {% block head-link %}
        <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-material-design/dist/css/material-fullpalette.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-material-design/dist/css/roboto.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'toastr/toastr.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'components-font-awesome/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    {% endblock %}
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'jquery-cookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/head_define.js' %}"></script>
</head>
<body id="{% block page_id %}body{% endblock %}">
{% include '_top_nav.html' %}
{% block body %}
<div class="container">
    {% include '_top_banner.html' %}
    {% block slider %}{% endblock %}
    <div id="content" class="hfeed">
        {% include '_notification.html' %}

        {% block content %}

        {% endblock %}
    </div>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                {% include '_footer_nav.html' %}
                <p>
                    {% blocktrans %}Powered by <a href="/">CPDB</a>{% endblocktrans %}
                </p>
            </div>
        </div>
    </footer>
</div>
{% endblock %}
{% block footerjs %}
    <script src="{% static 'js/head_define.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap-material-design/dist/js/material.min.js' %}"></script>
    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    <script src="{% static 'js/foot_define.js' %}"></script>
{% endblock %}
</body>
</html>
