.document-thumbnail
  border: solid 1px $color_blue_ribbon_approx

.story
  >.title
    >a
      color: $color_mine_shaft_approx

#officer-profile
  background-color: $color_spring_wood_approx2

  .sticky-footer
    padding-top: 36px
