.complaint-0
  fill: $color_jordy_blue_approx

.complaint-1
  fill: $color_danube_approx

.complaint-2
  fill: $color_kashmir_blue_approx

.disciplined
  fill: $color_allports_approx

.undisciplined
  fill: $color_gull_gray_approx

.complaint-rate-label
  color: $color_silver_tree_approx
  font-weight: 400
  font-style: italic
  padding-top: 1.5em
  font-family: $font_0

.avg-0
  .complaint-rate-label
    color: $color_coral_red_approx

  .star
    border-top-color: $color_coral_red_approx


.avg-1
  .complaint-rate-label
    color: $color_rajah_approx

  .star
    border-top-color: $color_rajah_approx


.avg-2
  .complaint-rate-label
    color: $color_goldenrod_approx

  .star
    border-top-color: $color_goldenrod_approx


.avg-3
  .complaint-rate-label
    color: $color_swamp_green_approx

  .star
    border-top-color: $color_swamp_green_approx


.avg-4
  .complaint-rate-label
    color: $color_hippie_green_approx

  .star
    border-top-color: $color_hippie_green_approx


.star
  border-top: 3px solid $color_silver_tree_approx
  margin-right: 1em

.information
  padding: 15px 35px
  border-top: solid 1px $color_mine_shaft_approx

.information-entry
  display: inline-block
  white-space: nowrap
  padding: 3px 5px
  font-weight: 500
  .desc
    color: $color_mountain_mist_approx
    font-weight: 400

  .val
    color: $color_mine_shaft_approx
    font-weight: 400

  span + span
    padding: 0 4px


.splitter
  border-right: solid 1px $color_celeste_approx
  height: 20px
  margin-top: 5px

.visualization-information
  padding-top: 20px

.vis-timeline
  border: none

.vis-current-time
  display: none

.donut-chart
  height: 260px

.donut-summary
  margin-bottom: 10px
  margin-top: 25px
  padding: 0 10px

.vis-item
  &.missing-data
    color: $color_mountain_mist_approx
    font-size: 12px
    background: transparent
    .vis-item-overflow
      background: $mercury
      margin-top: 50px
      height: calc(100% - 50px)


  &.vis-background .vis-item-content
    word-wrap: break-word
    position: initial
    width: 100%
    white-space: initial


.story
  border-bottom: 1px solid $color_celeste_approx
  padding: 20px
  .title
    font-size: 16px
    font-family: $font_0, $font_4
    .fa
      color: $color_blue_ribbon_approx
      margin-left: 10px


  .date
    font-size: 14px
    color: $color_mountain_mist_approx
    font-family: $font_0, $font_4
    font-style: italic
    min-height: 20px

  .short-description
    height: 5em
    font-family: $font_0, $font_4
    font-style: 16px
