.back-button
  display: inline-block
  margin-top: 10px
  font-size: 16px
  font-weight: 500
  color: $color_blue_ribbon_approx
  padding-left: 15px
  .fa
    padding-right: 5px

  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max)
    margin-top: 8px

#officer-page
  position: relative

.officer-page-enter
  position: absolute
  right: 0
  width: 0

.officer-page-enter.officer-page-enter-active
  width: 100%
  transition: width 500ms ease-in
