.back-button
  display: inline-block
  margin-top: 10px
  font-size: 16px
  font-weight: 500
  color: #0071ae
  padding-left: 15px
  .fa
    padding-right: 5px

  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max)
    margin-top: 8px
