#search-wrapper
  width: 96%
  max-width: 487px
  padding: 0
  margin-top: 10px
  font-family: $font_0, $font_4
  border-bottom: solid 1px $color_danube_approx
  input
    border: none
    //If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none
    //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
    border-radius: 0
    width: 94%
    padding-right: 6px

  .search-icon-link
    cursor: default

    &:hover
      opacity: 1

input::-webkit-input-placeholder
  color: $color_mountain_mist_approx

input:-moz-placeholder
  color: $color_mountain_mist_approx

input::-moz-placeholder
  color: $color_mountain_mist_approx

input:-ms-input-placeholder
  color: $color_mountain_mist_approx

.ui-autocomplete
  z-index: 100000
  padding: 1em 0
  > li
    padding: 0 1em
    border-left: 4px solid transparent


.ui-autocomplete-category
  font-size: 0.9em
  padding: 0.5em 0
  color: $color_mountain_mist_approx

.ui-widget
  font-family: $font_0, $font_4

.ui-state-focus
  @extend .extend_15

#filter-tags
  border: none
  //If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none
  margin: 10px 0 5px
  background-color: transparent
  height: 40px
  .tag
    font-weight: 400
    display: inline-block
    background: $color_link_water_approx
    color: $color_mine_shaft_approx
    margin-right: 10px
    height: 36px
    &.pinned
      background: $text_color
      .filter-name
        color: $white
      .pin
        color: $white
    .action
      color: $color_cadet_blue_approx
      padding: 0 5px
      line-height: 30px
      &.remove
        margin-right: 3px
    .filter
      font-size: 12px
      text-align: left
    &> span
      display: inline-block
      line-height: 15px
      vertical-align: top
      font-size: 18px
    .filter-name
      display: block
      color: $color_mine_shaft_approx
    .filter-category-name
      color: $color_mountain_mist_approx
      display: block
      text-transform: uppercase
      font-size: 11px
    &.fadeIn
      opacity: 1

  input
    font-weight: 300


.label-info-autocomplete
  background-color: $color_deep_cerulean_approx

.ui-menu .ui-menu-item
  padding: 0 1em
  border-left: 4px solid transparent
  padding: 0.2em 1.76em

  &.capitalize
    text-transform: capitalize

.ui-widget-content .ui-state-focus
  @extend .extend_15

span.term
  font-weight: 400
