//colors
$black: #000000
$black_70: rgba(0, 0, 0, .7)
$blue: blue
$color_allports_approx: #0f70a8
$color_azalea_approx: #f2ced3
$color_cadet_blue_approx: #a5b4be
$color_celeste_approx: #cbcbcb
$color_chateau_green_approx: #41996d
$color_coral_red_approx: #dc3747
$color_danube_approx: #628fca
$color_danube_approx: #66aad7
$color_dark_grey: #212121
$color_deep_celurean_approx: #0279AE
$color_deep_cerulean_approx: #0079ae
$color_eastern_blue_approx: #1385b5
$color_fire_bush_approx: #ed9429
$color_fountain_blue_approx: #67adc5
$color_golden_grass_approx: #d8b421
$color_goldenrod_approx: #f69833
$color_gull_gray_approx: #9faeb9
$color_hippie_green_approx: #5d924e
$color_japanese_laurel_approx: green
$color_jordy_blue_approx: #7bb4ff
$color_kashmir_blue_approx: #4a6c96
$color_lochmara_approx: #107ac0
$color_mine_shaft_approx: #333333
$color_mountain_mist_approx: #989898
$color_mountain_mist_approx: #989898
$color_nobel_approx: #b2b2b2
$color_pacific_blue_approx: #0a90cb
$color_pampas_approx: #f6f6ec
$color_pattens_blue_approx: #e2f6ff
$color_pippin_approx: #ffe3e7
$color_rajah_approx: #f46937
$color_ship_cove_approx: #709dc0
$color_silver_tree_approx: #62b28c
$color_spring_wood_approx: #f7f7ed
$color_spring_wood_approx2: #faf6f3
$color_star_dust_approx: #9a9a9a
$color_storm_dust_approx: #666
$color_sushi_approx: #83b247
$color_swamp_green_approx: #f0c41b
$color_tall_poppy_approx: #c0272d
$color_ziggurat_approx: #bed4df
$gray: gray
$mercury: #e5e5e5
$red: red
$seashell: #f1f1f1
$white: white
$wild_sand: #f4f4f4
$light_blue: #E8F0F9
$dark_blue: #1464f1
$text_color: #013270
$font_weight: 400
$cubic_bezier: cubic-bezier(0, 0, 0.16, 1.08)

@import 'shared/sf-compact-font'

//fonts
$font_0: "San Francisco Text Web"
$font_1: "San Francisco Display Web"
// $font_1: serif
// $font_2: Vollkorn
$font_3: "Helvetica Neue"
$font_4: sans-serif
$font_5: Helvetica
$font_6: Glyphicons Halflings



// Bootstrap's default breakpoints
$screen-xs-min: 320px
$screen-xs-max: 767px
$screen-sm-min: 768px
$screen-sm-max: 991px
$screen-md-min: 992px
$screen-md-max: 1199px
$screen-lg-min: 1200px

// Normalize user agent's stylesheet
input
  padding: 0

//@extend-elements
//original selectors
//h1, h2, h3, .h1, .h2, .h3
.extend_1
  font-family: $font_0, $font_4

//original selectors
//.navbar.navbar, .navbar-default.navbar
.extend_2
  background: $white
  color: $black

//original selectors
//.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus
.extend_3
  color: $white
  font-family: $font_3, $font_4
  font-size: 20px
  font-weight: bold
  font-stretch: condensed
  padding: 0

//original selectors
//#summary-container .count, .total
.extend_4
  text-align: right
  font-weight: 500

//original selectors
//#summary .category:hover, #summary .category.active
.extend_5
  font-weight: 700

//original selectors
//.officer.selected a.officer-link, .officer.active a.officer-link
.extend_6
  color: $color_mine_shaft_approx
  text-decoration: none
  //If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none

//original selectors
//.complaint_list .filters > span.active, .complaint_list .filters > span:hover
.extend_7
  border-bottom: 2px solid $black

//original selectors
//.cursor, .pointer
.extend_8
  cursor: pointer

//original selectors
//.vis-line, .vis-dot
.extend_9
  border-color: $color_deep_cerulean_approx

//original selectors
//.vis-line.end, .vis-dot.end
.extend_10
  border-color: $color_tall_poppy_approx

//original selectors
//.fa.not.sustained, .fa.not-sustained
.extend_11
  color: $color_deep_cerulean_approx

//original selectors
//.fa.other, .fa.no-affidavit
.extend_12
  color: $color_mountain_mist_approx

//original selectors
//.leaflet-control-layers-base label input:checked + span, .leaflet-control-layers-base label:hover input + span
.extend_13
  background-color: $color_deep_cerulean_approx
  color: $white

//original selectors
//.leaflet-bar, .leaflet-control-layers
.extend_14
  //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
  border-radius: 0

//original selectors
//.ui-state-focus, .ui-widget-content .ui-state-focus
.extend_15
  font-weight: 300
  background: none
  border: none
  border-left: 4px solid $color_lochmara_approx
  color: $color_lochmara_approx
  margin: 0

body
  background-color: $white
  font-family: $font_0, $font_4
  transition: 0.5s background-color
  &.embedding
    background-color: $color_cadet_blue_approx

#autocomplete
  line-height: normal
  height: 50px
  display: block
  width: 100%
  padding: 15px 18px
  background-color: white
  background-image: none
  border: 1px solid $color_celeste_approx
  border-radius: 4px
  border-top-right-radius: 0
  border-bottom-right-radius: 0
  font-family: $font_1, $font_4
  font-size: 14px
  color: $color_mountain_mist_approx

  &:focus
    border-color: $color_eastern_blue_approx

#btn-search
  border-top-left-radius: 0
  border-bottom-left-radius: 0
  margin-left: -1px
  padding: 6px 12px
  height: 50px
  width: 48px
  background-color: $color_eastern_blue_approx

  i
    font-size: 17px
    color: $white

#autocomplete-container
  position: absolute

.search-row
  margin-bottom: 24px

.navbar
  min-height: 72px
  margin-bottom: 0
  border-bottom: 1px solid $color_mountain_mist_approx
  border-top: none

  &.navbar
    @extend .extend_2

  .navbar-brand
    @extend .extend_3
    &:hover
      @extend .extend_3

    &:focus
      @extend .extend_3

    @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max)
      margin-left: -10px

      img
        width: 68px
        height: 55px

    @media (min-width: $screen-sm-min)
      img
        width: 89px
        height: 72px

  .navbar-nav > li.site-title > a
    color: $color_mine_shaft_approx

  .navbar-form
    margin-top: 16px

  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max)
    min-height: inherit
    height: 55px

    .navbar-header
      display: inline-block

    #navbar-main
      display: inline-block
      border-top: none
      margin: 10px 0 0 10px
      padding: 0
      width: 73%
      vertical-align: top

      ul.nav.navbar-nav
        margin: 0
        width: 100%

        .site-title
          margin: 0

    .navbar-form
      border: none

      #search-wrapper
        margin-top: 2px
        border: none
        width: 100%
        position: relative

        input
          width: 89%

        i
          position: absolute
          right: 0

h1
  @extend .extend_1

h2
  @extend .extend_1

h3
  @extend .extend_1

.h1
  @extend .extend_1

.h2
  @extend .extend_1

.h3
  @extend .extend_1

.page-header
  margin-top: 20px

.form-group
  .alert
    margin-bottom: 0

  ul.errorlist
    margin: 0
    padding: 0
    list-style: none

.margin-top-0
  margin-top: 0

footer
  .row
    background-color: #172b3a
    padding: 8px 0

#map
  width: 100%
  height: 576px

.mobile
  #map
    height: 500px

#officer-complaint-map
  width: 100%
  height: 200px

.site-title
  font-size: 21px
  font-family: $font_1, $font_4
  margin: 8px 0 0 10px
  width: calc(100% - 600px)
  font-weight: 300
  input
    border: none
    width: 100%

.map-row

#map-arrow-down
  position: absolute
  bottom: 20px
  right: 3%
  z-index: 1000
  color: $white
  width: 32px
  height: 32px

#summary-container
  overflow: hidden
  margin-left: 30px
  padding-left: 0
  padding-top: 44px
  .category-anlytics
    text-align: right
    font-size: 14px

  .count
    color: $color_ship_cove_approx
    @extend .extend_4
    font-weight: 300

  .total
    color: $color_cadet_blue_approx
    font-weight: 300

  #summary.selected
    margin-left: 0

.fa-28px
  font-size: 28px

#summary
  width: 150%
  font-family: $font_0, $font_4
  font-size: 12px
  padding-top: 10px
  //If you use compass, instead of the line below you could use + transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: left 1s
  position: relative
  left: 0
  .child-row-wrapper
    padding-left: 0

  &.selected
    left: -50%
    .extra-information
      display: none

    .main-category-name-wrapper.active
      background-color: $color_deep_cerulean_approx
      color: $white
      .category-name
        color: $white
        font-weight: 300

  .child-rows
    max-height: 480px
    overflow-y: auto
    overflow-x: hidden
    //If you use compass, instead of the line below you could use + transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: left 1s
    left: 100%
    position: absolute
    width:  calc(100% - 18px)
    visibility: hidden
    &.active
      left: calc(1em - 5px)
      visibility: visible

    .row + .row
      margin-top: 7px

  .child-row-container
    overflow: hidden
    border-left: 1px solid $color_mountain_mist_approx
    min-height: 300px

  .progress
    height: 17px
    margin-bottom: 7px

  .category
    &:hover
      @extend .extend_5

    &.active
      @extend .extend_5

  .category-name
    color: $color_deep_cerulean_approx
    font-size: 14px
    font-weight: 300
    &:hover
      text-decoration: none

    &.active
      font-weight: 700
      &:focus
        text-decoration: none

  .child-active
    background-color: $color_ziggurat_approx

  .main-count
    line-height: 25px

  .discipline
    background: $color_ship_cove_approx

  .complaint
    background: $color_cadet_blue_approx

  .type
    font-weight: 300
    line-height: 26px

  .discipline-text
    color: $color_ship_cove_approx

  .complaint-text
    color: $color_cadet_blue_approx

  a.back
    color: $color_storm_dust_approx

.total
  @extend .extend_4

.extra-information
  margin-top: 15px
  margin-left: 30px

.width-12-percent
  width: 12%
  float: left
  display: inline-block

.box
  height: 10px
  width: 10px
  float: left
  margin: 5px 5px 0 0

.background-light-blue
  background: $color_ship_cove_approx

.background-grey
  background: $color_cadet_blue_approx

.extra-information-text
  font-size: 14px
  font-weight: 400

.arrow-container
  position: absolute
  right: -3px
  color: $color_pampas_approx
  top: -4px
  border-right: solid $color_pampas_approx 1px
  z-index: 1

.summary-child-row
  .count
    text-align: right

  .category-name-wrapper
    margin-left: -15px
    width: calc(83.33333333% + 15px)

#officer_list
  .officers .col-sm-2
    padding-right: 5px

.officer-count, .complaint-count
  font-family: $font_1, $font_4
  font-size: 21px
  font-weight: 500
  color: $color_mine_shaft_approx

.officer-vertical-scroll
  width: 100%
  overflow: hidden

.overview-box
  padding: 3px 0
  opacity: .4

.overview
  height: 24px
  background: $color_japanese_laurel_approx
  float: left
  transition: 1s width

#overview-slider
  width: calc(100% - 8px)
  margin: auto
  height: 24px
  position: relative
  top: -26px
  border: none
  background: none
  cursor: pointer
  &.ui-slider .ui-slider-handle
    border: 2px solid $color_dark_grey
    height: 28px
    min-width: 16px
    margin-left: -8px
    top: -3px
    background: none
    //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
    border-radius: 0
    font-size: 1em
    box-shadow: 0 0 3px $color_celeste_approx
    transition: 0.5s left
    cursor: move
    cursor: -moz-grab
    cursor: -webkit-grab
    &.ui-state-active
      cursor: -moz-grabbing
      cursor: -webkit-grabbing

.overview-container
  height: 32px
  margin-bottom: 20px
  &.filtered .ui-slider-handle
    min-width: 24px
    margin-left: -12px

.overview-0
  background-color: $color_coral_red_approx

.overview-1
  background-color: $color_rajah_approx

.overview-2
  background-color: $color_goldenrod_approx

.overview-3
  background-color: $color_swamp_green_approx

.overview-4
  background-color: $color_hippie_green_approx

.officers-container
  width: 6000px
  //If you use compass, instead of the line below you could use + transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: 0.5s left ease
  left: 0
  position: relative
  &.off
    //If you use compass, instead of the line below you could use + transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: none
    left: 0

  > div:first-child
    margin-left: 0

.officer-block
  width: 169px
  float: left
  margin-left: 25px

.officer-control
  background-color: $color_mountain_mist_approx
  width: 46px
  height: 66px
  position: absolute
  font-size: 64px
  text-align: center
  color: $white
  line-height: 0
  top: 72px
  cursor: pointer
  &.off
    display: none

  &:hover
    opacity: .6

.officer-control-left
  left: -43px

.officer-control-right
  right: -43px

.officer
  background-color: $seashell
  border: none
  //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
  border-radius: 0
  border-top: 5px solid $red
  font-size: 12px
  position: relative
  color: $color_mountain_mist_approx
  margin-bottom: 24px
  font-family: $font_0, $font_4
  margin-bottom: 20px
  //If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 3px 3px 3px $color_celeste_approx
  max-height: 93px
  overflow: hidden

    background-color: #0079AE
    color: white
  &.has-intersection
    &:hover, &.selected
      background-color: #0079AE
      color: white
      .officer_name
        color: white
      .intersection
        display: block
        padding: 2px 10px 10px 15px
        color: white
        font-size: 14px
        font-weight: 400
      .non-intersection
        visibility: hidden
        height: 28px
        overflow: hidden

  .intersection
    display: none

  &:hover
    //If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 7px 7px 7px $color_celeste_approx
    cursor: pointer

  &.selected
    a.officer-link
      @extend .extend_6

    > .checkmark, .checkmark.justChange:hover
      background-color: $color_ship_cove_approx
    > .checkmark:hover
      background-color: $color_celeste_approx
  &.avg-0
    border-top-color: $color_coral_red_approx

  &.avg-1
    border-top-color: $color_rajah_approx

  &.avg-2
    border-top-color: $color_goldenrod_approx

  &.avg-3
    border-top-color: $color_swamp_green_approx

  &.avg-4
    border-top-color: $color_hippie_green_approx

  .complaint-discipline-row
    padding: 2px 10px 10px 15px
    margin-bottom: 10px

  a.officer-link
    color: $color_mountain_mist_approx

  &.active a.officer-link
    @extend .extend_6

  > .checkmark
    position: absolute
    padding: 4px 6px 3px
    right: 0
    bottom: 0
    background-color: $color_celeste_approx
    color: $white

    &.justChange, &.justChange:hover
      background: $color_celeste_approx
    &:hover
      background-color: $color_ship_cove_approx

  .officer_name + .row
    padding-left: 10px
    padding-right: 10px
    padding-bottom: 25px

.no-box-shadow
  //If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none !important

.officer_name
  text-transform: capitalize
  font-size: 14px
  font-family: $font_0, $font_4
  font-weight: 500
  overflow: hidden
  text-overflow: ellipsis
  width: 100%
  white-space: nowrap
  padding: 10px 10px 0 15px

@media only screen and (max-width: 1320px)
  .officer-control
    display: none

@media only screen and (max-width: 320px)
  .officers-container
    width: 600%

  .officer-block
    width: 16.666666%
    margin: 0

  .officer-control
    display: none

  .officer
    padding: 2px
    padding-bottom: 11px

.complaint_list
  margin-top: 2em
  .filters
    margin-left: -14px
  .filters > span
    display: inline-block
    padding: 5px 0
    border-bottom: 2px solid transparent
    margin: 0 14px
    cursor: pointer
    &.active
      @extend .extend_7

    &:hover
      @extend .extend_7

    i
      margin-right: 5px
      display: inline-block
      font-size: 0.7em

.complaint-row-outcome
  font-size: 2em
  margin-top: 0.3em

.complaint-row
  padding: 10px 0 5px
  border-bottom: 1px solid $color_celeste_approx
  font-family: $font_0, $font_4
  font-size: 16px
  color: $color_mine_shaft_approx
  clear: both
  &.disciplined
    background: $color_pippin_approx
    &:hover
      background-color: $color_azalea_approx

    .fa.fa-chevron-right
      color: $color_tall_poppy_approx
    .fa.fa-chevron-down
      color: $color_tall_poppy_approx

  &:hover
    background-color: $color_pattens_blue_approx

  .title
    color: $gray
    font-size: 14px
    font-family: $font_0

  .show_more
    font-size: 34px

  > .row:first-child
    font-size: 16px

  .btn:hover
    opacity: .6

.timeline-title
  color: $color_mountain_mist_approx
  font-size: 14px

.timeline-date
  color: $color_mine_shaft_approx
  font-size: 16px
  &.start
    color: $color_ship_cove_approx

  &.end
    color: $color_tall_poppy_approx
    font-size: 17px

.witness
  margin-bottom: 24px

.results
  background-color: $white
  padding: 20px
  border: 1px solid $color_celeste_approx

.investigation
  font-family: $font_0, $font_4
  .results
    width: 80%
    float: left

  .legend
    float: left
    width: 40%
    padding-left: 10px

.investigator-name
  color: $color_mine_shaft_approx
  font-family: $font_0, $font_4
  font-weight: 500
  font-size: 14px

.legend
  font-size: 14px
  color: $color_mountain_mist_approx

.line
  display: inline-block
  width: 20px
  height: 3px
  margin-right: 5px
  &.blue
    background-color: $color_ship_cove_approx

  &.red
    background-color: $color_tall_poppy_approx

.complaint_detail
  background-color: $color_spring_wood_approx
  .summary
    border-bottom: 1px solid $color_mine_shaft_approx
    padding: 20px 0
    .col
      float: left
      padding: 0 15px
      + .col
        border-left: 1px solid $color_mine_shaft_approx

  .uppercase
    font-weight: bold
    font-size: 18px
    font-family: $font_0, $font_4

  .allegation-name
    color: $color_mountain_mist_approx
    font-style: italic

  > div > .row
    margin-bottom: 10px
    + .row
      margin-top: 36px

  .row.margin-top
    margin-top: 20px

.address
  background-color: $white
  padding: 15px

.section-title
  font-family: $font_0, $font_4
  font-size: 16px
  color: $color_mine_shaft_approx
  font-weight: 700

.btn
  text-transform: none

  &.btn-view
    &:not(.btn-link):not(.btn-flat)
      background-color: $color_deep_cerulean_approx
      color: $white
      font-family: $font_0
      text-transform: none
      border: 1px solid $color_pacific_blue_approx
      width: 151px
      font-size: 14px
      font-weight: 400

    &:hover:not(.btn-link):not(.btn-flat)
      background-color: $color_pacific_blue_approx
      color: $white

  &.btn-request:not(.btn-link):not(.btn-flat)
    background-color: $white
    color: $color_pacific_blue_approx
    font-family: $font_0
    text-transform: none
    border: 1px solid $color_pacific_blue_approx
    width: 151px
    max-width: 151px
    font-size: 14px
    font-weight: 400
    padding: 5px 10px

@media screen and (max-width: 1024px)
  .btn.btn-request:not(.btn-link):not(.btn-flat)
    width: 90%
    max-width: 100%

#filter-row
  min-height: 50px

.margin-top
  margin-top: 1em

.cursor
  @extend .extend_8

.pointer
  @extend .extend_8

.vis-item
  background-color: transparent
  border-width: 0
  &.vis-box
    border: none

.vis-line
  @extend .extend_9
  &.end
    @extend .extend_10

.vis-dot
  @extend .extend_9
  &.end
    @extend .extend_10

.leaflet-container
  font-family: $font_0, $font_4
  .marker-cluster-large
    //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
    border-radius: 30px

  .marker-cluster-small
    //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
    border-radius: 10px

  .leaflet-control-attribution
    display: none

  .leaflet-control-command-interior
    font-family: $font_0, $font_4
    font-size: 16px
    color: $color_mine_shaft_approx
    font-weight: 500

.fa
  &.open-investigation
    color: $color_golden_grass_approx

  &.sustained
    color: $color_golden_grass_approx

  &.not-sustained
    @extend .extend_11

  &.unfounded
    color: $color_mine_shaft_approx

  &.disciplined
    color: $color_tall_poppy_approx

  &.exonerated
    color: $color_silver_tree_approx

  &.other
    @extend .extend_12

  &.no-affidavit
    @extend .extend_12

  &.not.sustained
    @extend .extend_11

.btn-download
  width: 151px
  padding: 8px 0

.btn-full-width
  display: inline-block
  width: 100%

.padding-left
  padding-left: 5px

.leaflet-control-layers
  @extend .extend_14
  label
    display: inline-block
    padding: 2px 5px
    cursor: pointer
    &.active
      color: $blue

    input
      display: none

    &:not(:last)
      border-right: 1px solid $color_mountain_mist_approx

  &.leaflet-control-layers-expanded
    clear: none
    float: left

.leaflet-control-layers-expanded
  border: 0
  padding: 0

.leaflet-control-layers-base
  float: left
  label
    display: block
    width: 150px
    padding: 5px
    margin: 0
    font-weight: 400
    span
      display: block
      padding: 2px
      padding-left: 15px
      color: $color_deep_cerulean_approx

    input:checked + span
      @extend .extend_13

    &:hover input + span
      @extend .extend_13

.leaflet-control-layers-separator
  display: none

.leaflet-control-layers-overlays
  float: right

.tright
  text-align: right

.fourty
  width: 40%
  float: left

.sixty
  width: 60%
  float: left

.thirty-five
  width: 35%
  float: left

.absolute
  position: absolute

.relative
  position: relative

.top-left
  top: 0
  left: 0

.leaflet-control-command
  border-top: 2px solid $black
  clear: none
  &.leaflet-control
    float: left

.leaflet-control-command-interior
  padding: 10px
  width: 150px
  min-height: 40px
  background-color: $white
  display: none
  font-size: 18px
  font-family: $font_0
  border-top: 3px solid $color_mine_shaft_approx
  &:hover
    background-color: $wild_sand

.leaflet-bar
  @extend .extend_14

.leaflet-control
  font-size: 14px
  border: 1px solid $color_nobel_approx
  //If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 1px

.uppercase
  text-transform: uppercase

.tcenter
  text-align: center

.fade
  opacity: 1
  //If you use compass, instead of the line below you could use + transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: opacity 0.5s ease-in-out

.slide-down
  overflow-y: hidden
  //If you use compass, instead of the line below you could use + transition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
  transition-property: all
  //If you use compass, instead of the line below you could use + transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
  transition-duration: 0.4s
  //If you use compass, instead of the line below you could use + transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1)
  max-height: 10000px
  opacity: 1
  &.closed
    max-height: 0
    opacity: 0

#disclaimer
  font-family: $font_5, $font_4
  //If you use compass, instead of the line below you could use + transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all ease-in-out 1s
  opacity: 1
  .modal-backdrop
    background: $black_70
    &.in
      opacity: .9

  .modal-content
    padding: 10px 0 30px 30px

  .modal-footer
    text-align: left

  p
    font-size: 16px

.back-to-top
  margin-top: 10px

.rackspace-logo
  height: 20px

.btn-close
  &:not(.btn-link):not(.btn-flat)
    background-color: $color_celeste_approx
    text-transform: none
    color: $white
    font-size: 16px
    font-family: $font_0, $font_4
    padding: 8px 20px

  &:hover:not(.btn-link):not(.btn-flat)
    color: $color_mine_shaft_approx

.button-list
  border-top: 1px solid $color_mine_shaft_approx
  margin-top: 36px
  .btn
    margin-left: 0
    + .btn
      margin-left: 20px

.loading-animation
  background-color: $color_ship_cove_approx
  position: fixed
  top: 0
  left: 0
  height: 5px
  //If you use compass, instead of the line below you could use + transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 1s

.race-gender
  font-family: $font_0, $font_4
  font-size: 12px
  color: $color_mountain_mist_approx
  padding: 2px 15px 0
  line-height: 1.1em
  min-height: 15px

.officer-disciplines
  margin-left: -10px

.vertical-line
  border-left: solid 1px $color_mountain_mist_approx
  height: 25px
  float: left
  margin-left: -6px
  margin-top: 5px

.download-wrapper
  .progress
    width: 151px
    height: 20px
    margin: 0

  .progress-bar
    width: 100%
    font-size: 16px
    padding: 0 10px
    font-family: $font_0, $font_4

#data-tool
  background-color: $color_spring_wood_approx2
  color: $color_mine_shaft_approx
  .white-background
    background-color: $white
    .container-fluid.content
      background-color: $white

.chart-row
  background-color: $white
  border: 1px solid $color_celeste_approx

  .tab-content
    min-height: 456px

  .nav-tabs
    background-color: $seashell !important
    border: 0
    > li
      padding-top: 4px
      border-top: 0 solid $seashell
      border-right: 1px solid $color_celeste_approx
      border-bottom: 1px solid $color_celeste_approx
      width: 33.3333%
      text-align: center

      &:last-child
        border-right: 0 !important

      &.active
        padding-top: 0
        border-top: 4px solid $color_deep_cerulean_approx !important
        border-bottom: 0 !important

        > a, > a:hover
          opacity: 1
          background-color: $white !important
          color: $color_mine_shaft_approx !important

      > a
        //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
        border-radius: 0
        background-color: $seashell
        color: $color_deep_cerulean_approx !important
        font-weight: 400

#loading
  margin-top: 20px

.center
  text-align: center

a:hover
  opacity: 0.3

button a:hover
  text-decoration: none

.navbar-default.navbar
  @extend .extend_2

.progress-bar.discipline
  background-color: $color_tall_poppy_approx

.progress.complaint
  background-color: $color_ship_cove_approx

strong.red
  color: $color_tall_poppy_approx

.location .address
  position: absolute
  top: 50px
  left: 50px

.filter_links a
  margin-right: 1.5em
  color: $color_star_dust_approx
  &.active
    color: $black
    border-bottom: 2px solid $black

.vis-panel.vis-center
  border-color: $color_deep_cerulean_approx

canvas.leaflet-heatmap-layer
  z-index: -1

.leaflet-control-zoom > a:hover
  opacity: .3

form.navbar-form.navbar-right
  width: 50%

.bootstrap-tagsinput > .tag
  opacity: 0
  //If you use compass, instead of the line below you could use + transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all ease-in-out 0.5s
  &.fadeIn
    //If you use compass, instead of the line below you could use + transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all ease-in-out 0.5s
    opacity: 1

#request_modal .modal-dialog
  width: 700px

@media(max-width: 1024px)
  .container.content
    width: 100%

@media(min-width: 1200px)
  .container
    width: 1230px

#EmbedBar
  background-color: $color_cadet_blue_approx
  color: $white
  a
    color: $white

  .active
    background-color: $color_deep_cerulean_approx


.embed-code
  background-color: $white
  padding: 10px
  border-bottom: 1px solid $color_cadet_blue_approx
  .fa
    color: $color_deep_cerulean_approx
    font-size: 25px

  input
    width: calc(100% - 35px)
    border: none
    padding: 0
    margin-left: 5px

#embed-lists
  list-style: none
  margin-right: -10px
  margin-bottom: 5px

.embed-button
  padding: 17px 10px
  display: inline-block

.embed
  .tooltip
    left: -47px
    width: 115px
    position: absolute
    top: 17px
    display: none
    &.bottom .tooltip-arrow
      display: block


  &.zeroclipboard-is-hover .tooltip
    display: block


.container-fluid.content
  background-color: $color_spring_wood_approx2
  padding-bottom: 20px
  margin-top: 28px
  max-width: 1230px


.checkmark.embed
  background-color: $color_ship_cove_approx
  color: $white
  &:hover
    background-color: $color_pacific_blue_approx

.disclaimer-btn
  color: $white !important
  border: solid 1px $white
  text-transform: none !important

.stick-footer-bottom
  #data-tool
    padding-bottom: 133px
  .sticky-footer
    width: calc(100% - 30px)
    position: fixed
    bottom: 0

.bootstrap-tagsinput .tag
  margin-left: 5px
  margin-right: 5px

  .pin
    cursor: pointer
    margin-left: 5px

#donut-chart
  &+#addText
    width: 146px
    margin: -174px auto 0
    padding-bottom: 100px
    text-align: center

.bootstrap-tagsinput
  padding: 4px 0

.navbar-form
  margin-left: 0
  margin-right: 0
  padding: 0

#navbar-main
  margin-top: 21px

#complaint-list
  .modal-backdrop
    &.in
      z-index: 0

@media (min-width: $screen-xs-min) and (max-width: $screen-sm-max)
  [class*=col-xs-], [class*=col-sm-]
    padding-left: 10px
    padding-right: 10px

@import 'shared'
@import 'sunburst'
@import 'officer_page'
@import 'officer-profile'
@import 'officer-detail'
@import 'search'
@import 'mobile'
@import 'data_tool_page'
@import 'landing_page/style.sass'
