.c3-region.light {
    fill: green;
}
.c3-region.medium {
    fill: yellow;
}
.c3-region.heavy {
    fill: red;
}
.under20 line {
    stroke: white;
}
.under20 text {
    fill: black;
}

#complained-officers .graph {
    width: 500px;
    height: 300px;
}
