.c3-region.light {
    fill: green;
}
.c3-region.medium {
    fill: yellow;
}
.c3-region.heavy {
    fill: red;
}
.c3-xgrid-focus line {
    stroke: white;
}
.tick text {
    font-weight: bold;
}

#complained-officers .graph {
    width: 500px;
    height: 300px;
    margin-top: 20px;
}
