div
  &.ReactTags__tags
    position: relative

  &.ReactTags__tagInput
    display: none

  &.ReactTags__selected
    float: left
    span.ReactTags__tag
      border: 1px solid $color_alto_approx
      background: $color_gallery_approx
      font-size: 12px
      display: block
      padding: 5px
      margin: 0 5px 2px 0
      cursor: move
      //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
      border-radius: 2px
      text-align: center
      width: 200px

    a.ReactTags__remove
      display: none

  &.ReactTags__suggestions
    position: absolute
    ul
      list-style-type: none
      //If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: .05em .01em .5em $black_20
      background: $white
      width: 200px
      li.active
        background: $color_spindle_approx
        cursor: pointer

    li
      border-bottom: 1px solid $color_alto_approx
      padding: 5px 10px
      margin: 0
      mark
        text-decoration: underline
        background: none
        font-weight: 600
