.officer-complaint-item
  padding-top: 11px
  margin-bottom: 11px
  background-color: #fff
  .crid-info
    font-size: 13px
    .crid-title
      color: $officer-label-color
  .complaint-category
    padding-top: 15px
    padding-bottom: 11px
    border-bottom: solid 1px $porcelain
    box-sizing: border-box
    .category
      font-size: 17px
      font-weight: 700
    .sub-category
      font-size: 14px
  .related-info
    font-size: 14px
    padding-top: 11px
    padding-bottom: 11px
    .label
      color: $officer-label-color
      width: 60px
      float: left
      vertical-align: top
    .value
      width: calc(100% - 60px)
      display: inline-block
    .circle-wrapper
      display: inline-block
      padding-top: 3px
      padding-right: 8px
    .circles
      margin-left: 60px
