.officer-complaint-item
  padding-top: 11px
  margin-bottom: 11px
  background-color: #fff
  .crid-info
    font-size: 11px
    .crid-title
      color: $officer-label-color
      font-weight: 600
  .complaint-category
    padding-top: 15px
    padding-bottom: 11px
    border-bottom: solid 1px $porcelain
    box-sizing: border-box
    .category
      font-size: 16px
      font-weight: 700
    .sub-category
      font-size: 13px
  .related-info
    padding-top: 11px
    padding-bottom: 11px
    .label
      color: $officer-label-color
      font-weight: 600
      width: 65px
      float: left
    .circle-wrapper
      display: inline-block
      padding-top: 3px
      padding-right: 8px
    .circles
      margin-left: 65px