.complaint-result
  overflow: auto
  ul
    margin: 0
    padding: 0

    .complaint-category
      color: #BBB
      font-size: 12px

    .complaint-sub-category
      color: #111
      font-size: 14px
      font-weight: bold
      margin-bottom: 10px
