.complaint-result
  overflow: auto
  ul
    margin: 0
    padding: 0

    .complaint-category
      color: #BBB
      font-size: 12px

    .complaint-sub-category
      color: #111
      font-size: 14px
      font-weight: bold
      margin-bottom: 10px

    .complaint-result-item
      background: #EEE
      padding: 10px
      list-style-type: none
      margin: 5px 0

      label
        color: #BBB
        font-size: 12px

      span
        float: right
        font-size: 14px
      button
        border: 0
        background-color: #CCC
        border-radius: 3px
        width: 100%
        height: 35px
        margin-top: 15px
