.suggestion-section
  .suggestion-list
    list-style-type: none
    padding: 0 10px
    margin: 0
  .highlight
    color: $suggestion_highlight_color
    background-color: $suggestion_highlight_background_color
@import 'success_search/officer_name_result'
@import 'success_search/officer_badge_result'
@import 'success_search/complaint_result'
