.success-search
  .suggestion-list
    list-style-type: none
    padding: 0
    margin: 0
  .highlight
    color: $suggestion-highlight-color
  .dot-bullet
    width: 20px
    display: inline-block
    text-align: center
@import 'success_search/officer_result'
@import 'success_search/complaint_result'
