.success-search
  background-color: $successful_result_backgroundcolor
  .suggestion-list
    list-style-type: none
    padding: 0
    margin: 0
  .highlight
    color: $suggestion_highlight_color
@import 'success_search/officer_name_result'
@import 'success_search/officer_badge_result'
@import 'success_search/complaint_result'
