.complaint-page
  .complaint-detail
    margin-bottom: 7%
  .investigation-timeline
    height: 150px
    margin-bottom: 7%
    background: $timeline-background

@import 'complaint_page/complaint_detail'
@import 'complaint_page/investigation_timeline'
@import 'complaint_page/complaining_witness'

@import 'complaint_page/officer_involved'
@import 'complaint_page/location'
@import 'complaint_page/police_witness'
