.complaint-page
  background-color: #e6e7e8
  .complaint-detail
    margin-bottom: 11px
  .investigation-timeline
    height: 150px
    margin-bottom: 11px
    background: $timeline-background
  .complaining-witness
    margin-bottom: 11px
  .officer-involved
    margin-bottom: 11px
  .investigator-section
    margin-bottom: 11px

@import 'complaint_page/complaint_detail'
@import 'complaint_page/investigation_timeline'
@import 'complaint_page/complaining_witness'
@import 'complaint_page/officer_involved'
@import 'complaint_page/investigation_section'
@import 'complaint_page/location'
@import 'complaint_page/police_witness'
