//fonts
$san-francisco: San Francisco

//urls
$san-francisco-ultralight-url: url('/static/mobile/fonts/sanfranciscodisplay-ultralight-webfont.woff')
$san-francisco-thin-url: url('/static/mobile/fonts/sanfranciscodisplay-thin-webfont.woff')
$san-francisco-regular-url: url('/static/mobile/fonts/sanfranciscodisplay-regular-webfont.woff')
$san-francisco-medium-url: url('/static/mobile/fonts/sanfranciscodisplay-medium-webfont.woff')
$san-francisco-semibold-url: url('/static/mobile/fonts/sanfranciscodisplay-semibold-webfont.woff')
$san-francisco-bold-url: url('/static/mobile/fonts/sanfranciscodisplay-bold-webfont.woff')

@font-face
	font-family: $san-francisco
	font-weight: 100
	src: $san-francisco-ultralight-url

@font-face
	font-family: $san-francisco
	font-weight: 200
	src: $san-francisco-thin-url

@font-face
	font-family: $san-francisco
	font-weight: 400
	src: $san-francisco-regular-url

@font-face
	font-family: $san-francisco
	font-weight: 500
	src: $san-francisco-medium-url

@font-face
	font-family: $san-francisco
	font-weight: 600
	src: $san-francisco-semibold-url

@font-face
	font-family: $san-francisco
	font-weight: 700
	src: $san-francisco-bold-url
