//fonts
$san-francisco: San Francisco

//urls
$san-francisco-ultralight-url: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff)
$san-francisco-thin-url: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff)
$san-francisco-regular-url: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff)
$san-francisco-medium-url: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff)
$san-francisco-semibold-url: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff)
$san-francisco-bold-url: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff)

@font-face
	font-family: $san-francisco
	font-weight: 100
	src: $san-francisco-ultralight-url

@font-face
	font-family: $san-francisco
	font-weight: 200
	src: $san-francisco-thin-url

@font-face
	font-family: $san-francisco
	font-weight: 400
	src: $san-francisco-regular-url

@font-face
	font-family: $san-francisco
	font-weight: 500
	src: $san-francisco-medium-url

@font-face
	font-family: $san-francisco
	font-weight: 600
	src: $san-francisco-semibold-url

@font-face
	font-family: $san-francisco
	font-weight: 700
	src: $san-francisco-bold-url
