.center
  text-align: center
  margin: 0 auto

.pad
  padding: 0 3%

.half-width
  width: 50%

.inline-block
  display: inline-block

.align-left
  text-align: left

.align-right
  text-align: right

.section-header
  padding: 10px 0
  box-shadow: 0px 0px 2px #ccc
  font-size: 13px

.animation
  -moz-transition: all 300ms ease-out
  -o-transition: all 300ms ease-out
  -webkit-transition: all 300ms ease-out
  -ms-transition: all 300ms ease-out
  transition: all 300ms ease-out


.animation-long
  -webkit-transition: all 1000ms cubic-bezier(1.000, 0.005, 0.005, 1.000)
  -moz-transition: all 1000ms cubic-bezier(1.000, 0.005, 0.005, 1.000)
  -o-transition: all 1000ms cubic-bezier(1.000, 0.005, 0.005, 1.000)
  transition: all 1000ms cubic-bezier(1.000, 0.005, 0.005, 1.000)


.hidden
  display: none

.bold
  font-weight: 700

.slide-in
  transition: 1s
  left: 0

.inline
  display: inline

.inline-block
  display: inline-block

.vertical-line
  width: 1px
  background: #000
  height: 100%

.collapse-content
  overflow: hidden
  display: block

.top-gray-border
  border-top: solid 1px #aaa

.bottom-gray-border
  border-bottom: solid 1px #aaa

.top-bottom-gray-border
  @extend .top-gray-border
  @extend .bottom-gray-border

.circle
  width: 10px
  height: 10px
  background: $circle-color
  border-radius: 50%
  display: inline-block

.small-circle
  width: 6px
  height: 6px

.background-black
  background: $black
