.center
  text-align: center
  margin: 0 auto

.pad
  padding: 0 10px

.animation
  -moz-transition: all 0.3s ease-out
  -o-transition: all 0.3s ease-out
  -webkit-transition: all 0.3s ease-out
  -ms-transition: all 0.3s ease-out
  transition: all 0.3s ease-out

.animation-long
  -webkit-transition: all 1000ms cubic-bezier(1.000, 0.005, 0.005, 1.000)
  -moz-transition: all 1000ms cubic-bezier(1.000, 0.005, 0.005, 1.000)
  -o-transition: all 1000ms cubic-bezier(1.000, 0.005, 0.005, 1.000)
  transition: all 1000ms cubic-bezier(1.000, 0.005, 0.005, 1.000)

.hidden
  display: none

.bold
  font-weight: bold

.slide-in
  transition: 1s
  left: 0

.inline
  display: inline

.vertical-line
  width: 1px
  background: #000
  height: 100%

.collapse-content
  overflow: hidden
  display: block
