.center
  text-align: center
  margin: 0 auto

.pad
  padding: 0 6px

.animation
  -moz-transition: all 0.3s ease-out
  -o-transition: all 0.3s ease-out
  -webkit-transition: all 0.3s ease-out
  -ms-transition: all 0.3s ease-out
  transition: all 0.3s ease-out
.hidden
  display: none
