.main-page
  background-color: $search-page-background-color
  .search-wrapper
    position: relative
    margin-top: 270px
    width: 100%
    padding: 0 3%
    &.top-left
      margin-top: 0
      position: relative
      padding: 0
  .bar-footer
    height: 70px

@import 'main_page/project_summary'
@import 'main_page/page_not_found'
@import 'main_page/search_bar'
@import 'main_page/search_results'