.main-page
  background-color: $search_page_background_color
  .search-wrapper
    position: relative
    margin-top: 80%
    width: 100%
    &.top-left
      margin-top: 0
      position: relative
  .bar-footer
    height: 70px

@import 'main_page/search_bar'
@import 'main_page/search_results'