.main-page
  .search-wrapper
    position: absolute
    top: 45%
    width: 100%
    margin-bottom: 70px
    &.top-left
      top: 50px
      left: 0
  .bar-footer
    height: 70px

@import 'main_page/suggestion_section'
@import 'main_page/search_results'
