.officer-page
  background-color: #ddd
  .content
    top: 50px
    position: absolute
    width: 100%
    background-color: #ddd
  .box
    padding: 5px 0
    background: #fff
    z-index: 10


@import 'officer_page/officer_detail'
@import 'officer_page/statistic_section'
@import 'officer_page/related_officers'
@import 'officer_page/complaint_section'
