@import 'variables'
@import 'fonts'

body
  font-size: 17px
  font-family:  -apple-system, 'San Francisco', 'Roboto', sans-serif
  color: $site-text-color
  line-height: initial
  height: 100%

@import 'helper'
@import 'grid'
@import 'main_page'
@import 'complaint_page'
@import 'officer_page'
@import 'shared'

@import 'vendor/react-select'
