@import 'variables'
@import 'fonts'

body
  font-size: 17px
  font-family:  -apple-system, 'San Francisco', 'Roboto', sans-serif
  color: $site-text-color
  line-height: initial
  background-color: $content-background

.content
  -webkit-animation: scale 0.7s ease-in-out
  -moz-animation: scale 0.7s ease-in-out
  animation: scale 0.7s ease-in-out

@keyframes scale
  0%
    transform: scale(0.9)
    opacity: 0

  50%
    transform: scale(1.01)
    opacity: 0.5

  100%
    transform: scale(1)
    opacity: 1

@import 'helper'
@import 'grid'
@import 'main_page'
@import 'complaint_page'
@import 'officer_page'
@import 'shared'

@import 'vendor/react-select'
