body
  font-size: 14px
  .section-header
    margin-top: 10px
    .section-title
      font-size: 15px
      font-weight: bold
      color: #333

@import 'helper'
@import 'main_page'
@import 'complaint_page'
@import 'officer_page'
@import 'shared'

@import 'vendor/react-select'
