// COLOR DEFINITION
$white: #ffffff
$black: #000000
$gray: #cccccc
$red:  #ff0000
$blue: #0000ff

$midnight-blue: #003366
$bay-of-many: #26527f
$blue-ribbon: #1464f1

$resolution-blue: #002072

$mamba: #978899
$porcelain: #e8e9ea
$haiti: #2f1238
$vivid-blue: #1474dd
$silver: #cbcbcb

$valencia: #dc3747
$flamingo: #f46937
$sea-buck-thorn: #f69833
$ripe-lemon: #f0c41b
$hippie-green: #5d924e
$soslo-gray: #939598
$gallery: #eaeaea

// URL DEFINITION

// COMPONENTS COLOR
// HELPER
$circle-color: $red

// SITE
$site-text-color: $haiti
$content-background: $porcelain
$section-background: $white
$border-color: $gray

// SEARCH BAR
$search-bar-color: $white
$search-bar-background-color: $black

// COMPLAINT DETAILS
$crid-title-color: $mamba
$number-allegation-color: $vivid-blue

// TOGGLE COMPLAINT PAGE
$toggle-color: $vivid-blue

// TIMELINE
$timeline-background: $porcelain
$timeline-color: $haiti

// LOCATION
$location-label-color: $mamba

// NO MATCH
$no-match-text-color: $haiti
$no-match-crid-text-color: $red

// OFFICER PAGE
$officer-background-color: $porcelain
$active-tab-color: $vivid-blue

// OFFICER PAGE - SUMMARY TAB
$officer-name-color: $haiti
$officer-label-color: $mamba
$distribution-curve-color: $gallery
$red-line-color: $valencia

// OFFICER PAGE - COMPLAINT TAB
$complaints-tab-background: $porcelain
$officer-complaint-item-crid-title-color: $mamba
$officer-complaint-item-label-color: $mamba
$officer-complaint-item-complaint-category-color: $porcelain

// OFFICER PAGE - NO MATCH
$no-match-officer-id-text-color: $red
$no-related-officer-background-color: $gray

// CIRCLE COLORS
$level-0-color: $valencia
$level-1-color: $flamingo
$level-2-color: $sea-buck-thorn
$level-3-color: $ripe-lemon
$level-4-color: $hippie-green

//SEARCH PAGE
$search-results-text-color: $haiti
$suggestion-highlight-color: $vivid-blue
$suggestion-highlight-background-color: $black
$search-page-background-color: $porcelain
$search-page-crid-title-color: $mamba
$search-page-crid-value-color: $vivid-blue
$search-page-badge-title-color: $mamba
$search-page-badge-value-color: $vivid-blue
$search-page-item-background-color: $white
$successful-result-background-color: $white

//ABOUT
$about-box-background: $silver
$about-text-color: $soslo-gray

//LOGO
$logo-text-color: $resolution-blue
$logo-background: $white

//PAGE NOT FOUND
$page-not-found-header-text-color: $haiti

//LOADING COLOR
$loading-color-1: $midnight-blue
$loading-color-2: $bay-of-many
$loading-color-3: $blue-ribbon

//REQUEST MODAL
$error-color: $red
$request-modal-submit-button-color: $vivid-blue
$request-modal-submit-button-border-color: $vivid-blue
