// COLOR DEFINITION
$white: #ffffff
$black: #000000
$gray: #cccccc
$red:  #ff0000
$blue: #0000ff

$mamba: #978899
$porcelain: #e8e9ea
$haiti: #2f1238
$vivid-blue: #1474dd

$valencia: #dc3747
$flamingo: #f46937
$sea_buckthorn: #f69833
$ripe_lemon: #f0c41b
$hippie_green: #5d924e

// URL DEFINITION

// COMPONENTS COLOR
// HELPER
$circle-color: $red

// SITE
$site-text-color: $haiti
$content-background: $porcelain
$section-background: $white
$border-color: $gray

// SEARCH BAR
$search-bar-color: $gray
$search-bar-background-color: $black

// COMPLAINT DETAILS
$crid-title-color: $mamba

// TIMELINE
$timeline-background: $porcelain
$timeline-color: $haiti

// LOCATION
$location-label-color: $mamba

// NO MATCH
$no-match-text-color: $haiti
$no-match-crid-text-color: $red

//OFFICER PAGE
$officer-background-color: $porcelain
$active-tab-color: $vivid-blue

// OFFICER PAGE - SUMMARY TAB
$officer-name-color: $haiti
$officer-label-color: $mamba
$distribution-curve-background: $gray

// OFFICER PAGE - COMPLAINT TAB
$complaints-tab-background: $porcelain
$officer-complaint-item-crid-title-color: $mamba
$officer-complaint-item-label-color: $mamba
$officer-complaint-item-complaint-category-color: $porcelain

// OFFICER PAGE - NO MATCH
$no-match-officer-id-text-color: $red
$no-related-officer-background-color: $gray

// CIRCLE COLORS
$circle-0-color: $valencia
$circle-1-color: $flamingo
$circle-2-color: $sea_buckthorn
$circle-3-color: $ripe_lemon
$circle-4-color: $hippie_green

//SEARCH PAGE
$suggestion_highlight_color: $vivid-blue
$suggestion_highlight_background_color: $black
$search_page_background_color: $porcelain

$successful_result_backgroundcolor: $white
