// COLOR DEFINITION
$white: #ffffff
$black: #000000
$gray: #cccccc
$red:  #ff0000

$mamba: #978899
$porcelain: #e8e9ea
$haiti: #2f1238

// URL DEFINITION

// COMPONENTS COLOR
// HELPER
$circle-color: $red

// SITE
$site-text-color: $haiti
$content-background: $porcelain
$section-background: $white
$border-color: $gray

// SEARCH BAR
$search-bar-color: $gray
$search-bar-background-color: $black

// COMPLAINT DETAILS
$crid-title-color: $mamba

// TIMELINE
$timeline-background: $porcelain

// LOCATION
$location-label-color: $mamba

// NO MATCH
$no-match-text-color: $haiti
$no-match-crid-text-color: $red
