.officer-summary-section
  margin-top: 16px
  margin-bottom: 22px
  .label
    color: $officer-label-color
    font-weight: 600
    width: 18%
    display: inline-block
    vertical-align: top
  .value
    display: inline-block
    width: 82%
