<!DOCTYPE html>
{% load staticfiles jsonify %}
<html>
<head>
    {% block meta %}
    <title>CPDP</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="cache-control" content="public"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="robots" content="follow, all"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'ratchet/dist/css/ratchet.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mobile_style.css' %}"/>

    {% if DJANGO_ENV == 'test' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}"/>
    {% endif %}
    {% include "google_analytics.html" %}
</head>
<body>
    {% csrf_token %}
    <div id="router"></div>
    <link href="https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css" rel="stylesheet"/>
    <script async src="{% static 'mobile/js/bundle.js' %}"></script>
</body>
</html>
