{% extends 'base.html' %}
{% load staticfiles %}
{% block head-link %}
  {{ block.super }}
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
{% endblock %}
{% block content %}
  <section id='cpdbapp'></section>
{% endblock %}
{% block footerjs %}
  {{ block.super }}
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <script src="{% static 'allegation/js/bundle.js' %}"></script>
  <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
  <script src="{% static 'bootstrap-tagsinput/src/bootstrap-tagsinput.js' %}"></script>
  <script src="{% static 'search/js/search.js' %}"></script>
{% endblock %}