<!DOCTYPE html>
{% load staticfiles jsonify %}
<html>
  <head>
    {% block meta %}
    <script type="text/javascript">
    if (location.hash.search('officer/') != -1) {
      location.href = location.hash.substr(2)
    }
    </script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="description" content="{% block meta-description %}{{ admin_settings.meta_description }}{% endblock %}" />
    <meta name="keywords" content="{% block meta-keywords %}{{ admin_settings.meta_keywords }}{% endblock %}" />
    <title>{{ admin_settings.default_site_title }}</title>
    {% if og_image %}
      <meta property="og:title" content="{{ site_title }}" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="{{ request.build_absolute_uri }}" />
      <meta property="og:image" content="{{ og_image }}" />
      <meta property="og:image:type" content="image/png" />
    {% endif %}
    {% endblock %}
      <link rel="shortcut icon" type='image/png' href="{% static 'img/favicon.ico' %}" />
      <link rel="home" href="/" />
      <link href='//fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
      <link href="//cdnjs.cloudflare.com/ajax/libs/vis/4.2.0/vis.css" rel="stylesheet" type="text/css" />
      <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

      <link rel="stylesheet" href="{% static 'jquery-ui/themes/base/core.css' %}" />
      <link rel="stylesheet" href="{% static 'jquery-ui/themes/base/theme.css' %}" />
      <link rel="stylesheet" href="{% static 'jquery-ui/themes/base/menu.css' %}" />
      <link rel="stylesheet" href="{% static 'jquery-ui/themes/base/slider.css' %}" />

      <!-- build:css css/combined.css -->
      <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-material-design/dist/css/material-fullpalette.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-material-design/dist/css/roboto.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'toastr/toastr.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'components-font-awesome/css/font-awesome.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'icomoon/icomoon.css' %}" />
      <link rel="stylesheet" href="{% static 'bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}" />
      <link rel="stylesheet" href="{% static 'allegation/css/MarkerCluster.Default.css' %}" />
      <link rel="stylesheet" href="{% static 'allegation/css/MarkerCluster.css' %}" />
      <link rel="stylesheet" href="{% static 'c3/c3.min.css' %}" />
      <link rel="stylesheet" href="{% static 'graph/css/complained-officers.css' %}" />
      <!-- endbuild -->

      <!-- sass build to 2 links below -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
      {% if DJANGO_ENV == 'test' %}
          <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}" />
      {% endif %}
  </head>
  <body>
  {% csrf_token %}
    <div id="autocomplete-container"></div>
    <div id='router'></div>

    {% if DJANGO_ENV == 'test' %}
      <script src="{% static 'js/acorn.js' %}"></script>
      <script src="{% static 'js/blanket.js' %}"></script>
    {% endif %}

    {% if DJANGO_ENV != 'test' or request.GET.with_disclaimer %}
      <script>
        var SHOW_DISCLAIMER = true;
      </script>
    {% else %}
      <script>
        var SHOW_DISCLAIMER = false;
      </script>
    {% endif %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/vis/4.2.0/vis.min.js"></script>

    <!-- build:js js/combined.js -->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

    <script src="{% static 'js/jquery.mobile.custom.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.custom.min.js' %}"></script>
    <script src="{% static 'jquery.cookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/head_define.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap-material-design/dist/js/material.min.js' %}"></script>
    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    <script src="{% static 'moment/min/moment.min.js' %}"></script>
    <script src="{% static 'underscore/underscore-min.js' %}"></script>
    <script src="{% static 'jqueryui-touch-punch/jquery.ui.touch-punch.min.js' %}"></script>
    <script src="{% static 'bootstrap-tagsinput/src/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'search/js/search.js' %}"></script>
    <script src="{% static 'd3/d3.min.js' %}"></script>
    <script src="{% static 'c3/c3.min.js' %}"></script>
    <script src="{% static 'pluralize/pluralize.js' %}"></script>
    <script src="{% static 'js/ajax_loading_animation.js' %}"></script>
    <script src="{% static 'zeroclipboard/dist/ZeroClipboard.min.js' %}"></script>
    <script src="{% static 'jquery-countTo/jquery.countTo.js' %}"></script>
    <script src="{% static 'highcharts/highcharts.js' %}"></script>
    <!-- endbuild -->

    <script>
    ZeroClipboard.config({swfPath: '/static/zeroclipboard/dist/ZeroClipboard.swf'});
    </script>

    <script type="text/javascript">
    DEFAULT_SITE_TITLE = "{{ admin_settings.default_site_title }}";
    STORY_TYPES_ORDER = "{{ admin_settings.story_types_order }}";
    DJANGO_ENV = {{ DJANGO_ENV | jsonify }};
    </script>

    {% include "google_analytics.html" %}

    <script src="{% static 'allegation/js/bundle.js' %}" data-cover></script>

    {% if DJANGO_ENV == 'test' %}
      <script src="{% static 'js/selenium_coverage.js' %}"></script>
    {% else %}
      <script type="text/javascript">initReact()</script>
    {% endif %}

    <script type="text/javascript" id="inspectletjs">
      window.__insp = window.__insp || [];
      __insp.push(['wid', 452127049]);
      (function() {
      function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
      setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
      })();
    </script>
    <script>
        var INTERFACE_TEXTS = {{interface_texts|safe}};
    </script>
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
  </body>
</html>
