<!DOCTYPE html>
{% load staticfiles common_tags compress jsonify %}
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
      {% compress css %}
      <link rel="stylesheet" type="text/sass" href="{% static 'sass/style.sass' %}" />
      {% endcompress %}
      {% if DJANGO_ENV == 'test' %}
        {% compress css %}
          <link rel="stylesheet" type="text/sass" href="{% static 'sass/test.sass' %}" />
        {% endcompress %}
      {% endif %}

  </head>
  <body id='landing-page'>
      {% csrf_token %}
      <div class='welcome'>
        <div class='page-logo'>
          <img src='/static/img/ii-logo.svg' alt='logo'/>
        </div>
        <div class='page-banner'>
          <p>Welcome to the <a href='#'>Citizens Police Data Project</a>.</p>
          <p>After years of litigation by the <a href='#'>Invisible institute</a>, more than 56,000 records of police misconduct complaints have been released to the public.</p>
        </div>
      </div>
      <nav class='landing-nav'>
        <div class='items clearfix'>
          <img class='pull-left' src='/static/img/cpdp-logo.svg'/>
          <ul class="pull-right" role="tablist">
            <li><a href="/#!/data-tools">Data</a></li>
            <li><a href="#story-page" aria-controls="story-page" role="tab" data-toggle="tab">Story</a></li>
            <li class="active"><a href="#find-page" aria-controls="find-page" role="tab" data-toggle="tab">Findings</a></li>
          </ul>
        </div>
        <div class='sub-nav hidden'>
        </div>
      </nav>
      <div class='main'>
        <div class='tab-content'>
          {% include "allegation/landing/find_page.html" %}
          {% include "allegation/landing/story_page.html" %}
        </div>
      </div>
      <div class='footer'>
        <div class='container'>
          <div class='col-sm-4'>
            <h4>
              What is the CPDB?
            </h4>
            <p>
              Lorem ipsum, welcome to the Citizens Police Data Project. After years of litigation by the Invisible institute, more than 56,000 records of police misconduct complaints have been released to the public.
            </p>
            <a class='btn'>Disclaimer</a><br/>
            <a class='btn'>Glossary</a>
          </div>
          <div class='col-sm-4'>
            <h4>
              Get Updates
            </h4>
            <p>
              Sign up for our mailing list for updates from the Invisible Institute and the Citizens Police Data Project.
              {% include "allegation/landing/sign_up_form.html" %}
            </p>
          </div>
          <div class='col-sm-4'>
            <h4>
              Download the Data
            </h4>
            <p>
              Are you a researcher, journalist, data professional or community member interested in analyzing the data? Sign up with your name, organization/affiliation and email address to request the full data files used in the Citizens Police Data Project.
              {% include "allegation/landing/request_file_form.html" %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{% static 'allegation/js/landing_page.js' %}"></script>
  </footer>
</html>
