<!DOCTYPE html>
{% load staticfiles jsonify %}
<html>
  <head>
      <!-- build:css css/sunburst_combined.css -->
      <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'components-font-awesome/css/font-awesome.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
      <!-- endbuild -->
  </head>
  <body>
    <div id='root'></div>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript">
        var SUNBURST_DATA = {{ sunburst_data | jsonify }};
        var SUNBURST_ARC = "{{ sunburst_arc }}";
    </script>
    <script src="{% static 'allegation/js/sunburst-bundle.js' %}" data-cover></script>
    <script type="text/javascript">initReact()</script>
  </body>
</html>
