#documents
  .fa-check
    color: $color-ok

  .fa-exclamation-circle
    color: $color-warn

  .fa-circle-o-notch
    color: $color-wait

  .btn-cancel
    color: $white

  .fa-spinner
    color: $blue

  .query-list
    thead
      tr
        border-bottom: solid 1.5px $color-dark-border
    tbody
      tr
        &:nth-of-type(odd)
          background-color: transparent
        &:hover
          background-color: #f5f5f5

#request_modal
  .wait-screen
    .fa-spinner
      font-size: 24px
    div
      &:last-child
        margin-top: 10px

.form-control
  &.link-input
    border: 1px solid $color-dusty-gray
    border-right: none
    & + .input-group-addon
      background: transparent
      border: 1px solid $color-dusty-gray
      border-left: none
      -webkit-border-radius: 0
      -moz-border-radius: 0
      border-radius: 0
      color: $blue

.session-query
  span
    padding-right: 10px
    padding-left: 10px
    display: inline-block
    & + span
      border-left: 1px solid $color-dusty-gray

.status
  &.fulfilled
    color: $color-ok
  &.requesting
    color: $color-warn
  &.missing
    color: $color-wait

.inline-block
  display: inline-block

#add-document
  margin-top: 30px

#export-document
  margin-top: 30px
  margin-left: 10px

.crid-request-search
  margin-top: 30px

.dropzone-content
  color: grey
  text-align: center
  padding-top: 91px

.btn-upload-document
  margin-top: 30px
  margin-right: 10px

.dropzone
  width: 200px
  height: 200px
  border-width: 2px
  border-color: #666
  border-style: dashed
  border-radius: 5px
  cursor: pointer

.ReactModal__Overlay
  opacity: 0

  &.ReactModal__Overlay--after-open
    opacity: 1
    transition: opacity .15s linear

  &.ReactModal__Overlay--before-close
    opacity: 0
    transition: opacity .15s linear

.ReactModal__Content
  opacity: 0
  -webkit-transform: translate(0, -25% )
  transition: all .3s ease-out

  &.ReactModal__Content--after-open
    opacity: 1
    -webkit-transform: translate(0, 0)

  &.ReactModal__Content--before-close
    -webkit-transform: translate(0, -25% )

.ReactModal__Content.modal-dialog
  border: none
  background-color: transparent
