#documents
  .fa-check
    color: $color-ok-green

  .fa-exclamation-circle
    color: $color-warn-red

  .fa-circle-o-notch
    color: $color-wait-gray

  .btn-cancel
    color: $white

.form-control
  &.link-input
    border: 1px solid $color-dusty-gray
