.form-control
  &.search
    padding-left: 10px

#officers
  .summary
    margin: 10px 0

.actions
  button
    &+ button
      margin-left: 10px

.medium-editor
  padding: 6px 10px
  background: transparent
  border: 1px solid $color-mine-shaft

.row.profile-head-line
  margin-top: 36px
  margin-bottom: 24px

.row.story-head-line
  margin-top: 40px
  margin-bottom: 24px

@import 'vendor/react-select.sass'
