$blue: #0079ae
$white: white
$color-dusty-gray: #989898
$color-silver: #cbcbcb
$color-mine-shaft: #333333
$color-warn-red: #B3111E
$color-ok-green: #50A678
$color-wait-gray: #868686
$color-dark-border: #2E2E2E

$title-text-color: $color-mine-shaft
$menu-text-color: #bed4df
$menu-text-active-color: #fff
$menu-active-bg-color: #709dc0
$period-picker-color: #989898
$period-picker-active-color: color-mine-shaft
