$blue: #0079ae
$white: white
$grey: #cdcdcd
$black: #333333

$title-text-color: $black
$menu-text-color: #bed4df
$menu-text-active-color: #fff
$menu-active-bg-color: #709dc0
$period-picker-color: #989898
$period-picker-active-color: $black
