.search-bar
  background-color: $search-bar-background-color
  color: $search-bar-color
  width: 100%
  border: none
  font-size: 15px
  height: 60px
  line-height: 60px
  .input-text
    background-color: $search-bar-background-color
    color: $search-bar-color
    width: calc(100% - 60px)
    height: 100%
    padding: 0 10px
    border: 0
    font-size: 15px
  .input-text:focus
    outline: 0
  .icon
    float: right
    font-weight: 900
    line-height: 60px
    padding: 0 10px
  ::-webkit-input-placeholder
    color: $search-bar-color
  :-moz-placeholder
    color: $search-bar-color
  ::-moz-placeholder
    color: $search-bar-color
  :-ms-input-placeholder
    color: $search-bar-color
