#search-wrapper {
    width: 96%;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    border-bottom: solid 1px #66aad7;
}
#search-wrapper input {
    border: none;
    box-shadow: none;
    border-radius: 0;
    width: 96%;
    padding-left: 4px;
}

#search-wrapper:before {
    content: "\e003";
    font-family: "Glyphicons Halflings";
    line-height: 1;
    display: inline-block;
    color: #0079ae;
}

::-webkit-input-placeholder {
   color: #989898;
}

:-moz-placeholder { /* Firefox 18- */
   color: #989898;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #989898;
}

:-ms-input-placeholder {
   color: #989898;
}

.ui-autocomplete {
    z-index: 100000;
    padding: 1em 0;
}

.ui-autocomplete-category {
    font-size: 0.9em;
    padding: 0.5em 0;
    color: #989898;
}

.ui-autocomplete > li, .ui-menu .ui-menu-item {
    padding: 0 1em;
    border-left: 4px solid transparent;
}


.ui-widget{
    font-family: 'Source Sans Pro', serif;
}
.ui-state-focus, .ui-widget-content .ui-state-focus{
    font-weight: 300;
    background: none;
    border: none;
    border-left: 4px solid #107ac0;
    color: #107ac0;
    margin: 0;
}

.bootstrap-tagsinput {
    border: none;
    box-shadow: none;
    margin: 10px 0;
}
.bootstrap-tagsinput .tag,.bootstrap-tagsinput input{
    font-size: 1em;
    font-weight: 300;
}

.ui-menu .ui-menu-item{
    text-transform: capitalize;
    padding: 0.2em 1.76em;
}

span.term{
    font-weight: 400;
}

.label-info-autocomplete {
    background-color: #0079ae;
}
