.complaint-results
  .complaint-result-item
    margin: 10px 0
    background-color: $search-page-item-background-color
    padding: 10px 0
    font-size: 13px
    .complaint-category
      margin-top: 10px
      .sub-category
        font-size: 16px
        line-height: 25px
    .complaint-header
      .final-finding
        float: right
      .crid-title
        color: $search-page-crid-title-color
