.document-card
  .circle-wrapper
    line-height: 33px
  .document-name
    font-size: 16px
    font-weight: 600
    &.blur
      color: $mamba
  .status
    font-size: 13px
  .action-type
    font-size: 14px
    color: $vivid-blue
    line-height: 33px
  .document-detail
    padding: 9px 0px

@import 'document_card/request_modal_content'
