.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.col-md-6 {
    width: 50%;
}

.col-md-12 {
    width: 100%;
}

.officer {
    padding-bottom: 0;
}

.officer .complaint-discipline-row {
    margin-bottom: 0;
}
