.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.col-md-6 {
    width: 50%;
}

.col-md-12 {
    width: 100%;
    padding-right: 5px;
    padding-left: 0;
}

.col-md-5 {
    width: 41.66666667%;
}

.col-md-7 {
    width: 58.33333333%;
}

body > .row {
    margin-left: 0;
    margin-right: 0;
}

.officer {
    padding-bottom: 0;
    margin-bottom: 0;
}

.officer .complaint-discipline-row {
    margin-bottom: 0;
}


#officer_list > .row {
    margin-left: 0;
    margin-right: 0;
}

#officer_list {
    width: calc(100% - 100px);
    margin: auto;
}

#officer_list .officer {
    margin-bottom: 20px;
}

.officer-control {
    display: block;
}

#sunburst-chart path {
    stroke: #fff;
}
